[Unit]
Description=Synchronize /etc/hosts with cluster node state
Requires=openshift-master.service
After=openshift-master.service

[Service]
ExecStart=/usr/local/bin/oc observe nodes -a '{ .status.addresses[0].address }' \
  --config=/data/openshift.local.config/master/admin.kubeconfig \
  --names /usr/local/bin/openshift-get-hosts.sh \
  --delete /usr/local/bin/openshift-remove-from-hosts.sh \
  -- /usr/local/bin/openshift-add-to-hosts.sh
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=openshift-master.service
