[Unit]
Description=OpenShift Master
Requires=network.target
After=docker.target network.target

[Service]
ExecStart=/usr/local/bin/openshift-start-master.sh
WorkingDirectory=/data
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
