[Unit]
Description=OpenShift SDN Controller
Requires=openshift-master.service openshift-sdn-master-setup.service
After=openshift-master.service openshift-sdn-master-setup.service

[Service]
ExecStart=/usr/local/bin/hypershift openshift-network-controller -v=4 \
  --config=/data/openshift.local.config/master/sdn-config.yaml
WorkingDirectory=/data
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
