[Unit]
Description=OpenShift Master
Requires=network.target
After=docker.target network.target

[Service]
ExecStartPre=/usr/local/bin/openshift-generate-master-config.sh
ExecStart=/usr/local/bin/openshift start master --loglevel=5 \
  --config=/data/openshift.local.config/master/master-config.yaml
WorkingDirectory=/data
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
