apiVersion: v1
kind: List
items:
  # The SA for the apiserver
  - apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: "{{ .Values.apiserver.serviceAccount }}"
  # The SA for the controller-manager
  - apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: "{{ .Values.controllerManager.serviceAccount }}"
