[Unit]
Description=Atomic OpenShift Master
Documentation=https://github.com/openshift/origin
After=network-online.target
After=etcd.service
Before=atomic-openshift-node.service
Requires=network-online.target

[Service]
Type=notify
EnvironmentFile=/etc/sysconfig/atomic-openshift-master
Environment=GOTRACEBACK=crash
ExecStart=/usr/bin/openshift start master --config=${CONFIG_FILE} $OPTIONS
LimitNOFILE=131072
LimitCORE=infinity
WorkingDirectory=/var/lib/origin/
SyslogIdentifier=atomic-openshift-master
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
WantedBy=atomic-openshift-node.service
