/_output
/_tools
/openshift.local.*
/third-party
/.project
/.vagrant
/cpu.pprof
/assets/nbproject
/examples/sample-app/openshift.local.*
/examples/sample-app/logs/openshift.log
*.swp
.vimrc
.vagrant-openshift.json*
.DS_Store
.idea
origin.iml
*.pyc
.tag*
.project
*.go~
