*.iml
*.pyc
*.swp
*~
kubeconfig
.kubeconfig
log/**
pid/**
bin/**
coverage.html
.idea/
.DS_Store
.scBuildImage
.init
.generate*
.envrc
build/*/tmp/*
contrib/build/*/tmp/*
.pkg
.kube
.var
.vscode
vendor/github.com/petar/GoLLRB/doc/*
contrib/examples/consumer/Gopkg.lock
contrib/examples/consumer
contrib/examples/vendor/*
# this is for buildling service catalog with origin tooling
_output
/go/src/github.com/kubernetes-incubator/service-catalog/_output

