/_output
/openshift.local.*
/third-party
/.project
/.vagrant
/.vscode
/.settings
/cpu.pprof
/assets/app/config.local.js
/assets/nbproject
/examples/sample-app/openshift.local.*
/examples/sample-app/logs/openshift.log
/dind-*.rc
/os-version-defs
/.make/
/cmd/oc/oc.syso
*.swp
.vimrc
.vagrant-openshift.json*
.DS_Store
.idea
origin.iml
*.pyc
.tag*
.project
*.go~
tags
.envrc
