# Set unix LF EOL for shell scripts
*.sh text eol=lf

**/zz_generated.*.go linguist-generated=true
**/types.generated.go linguist-generated=true
**/generated.pb.go linguist-generated=true
**/generated.proto linguist-generated=true
**/types_swagger_doc_generated.go linguist-generated=true
api/openapi-spec/*.json linguist-generated=true
api/protobuf-spec/*.proto linguist-generated=true
api/swagger-spec/*.json linguist-generated=true
contrib/completions/bash/** linguist-generated=true
contrib/completions/zsh/** linguist-generated=true
docs/man/man1/** linguist-generated=true
pkg/**/swagger_doc.go linguist-generated=true
