//
// Project list menu
// -----------------------------------------------

.navbar-project-menu {
  background: @sidebar-os-bg;
  border-bottom: 1px solid @navbar-os-sidebar-border-color;
  border-top: 1px solid @navbar-os-sidebar-border-color;
  margin: 0 -@navbar-padding-horizontal;
  .navbar-project-search {
    display: inline-block;
  }
  .form-group {
    margin-bottom: 0;
    .form-control {
      margin-bottom: 0;
      height: auto;
    }
  }
  .bootstrap-select.btn-group {
      .btn {
      border-color: @navbar-os-sidebar-border-color;
      border-width: 0 1px 0 0;
      border-radius: 0;
      color: @navbar-os-project-menu-color;
      font-size: @font-size-large + 4;
      font-weight: 300;
      background: @sidebar-os-bg;
      border-bottom: 0;
      box-shadow: none;
      border-top: 0;
      line-height: @line-height-base;
      padding: 7px 45px 7px 20px;
      transition: none;
      width: 100%;
      &:hover, &:focus {
        background-color: @sidebar-os-hover-bg;
        color: @sidebar-os-active-color;
      }
      &:focus {
        .tab-focus();
        &:active {
          outline: none !important;
        }
      }
      .filter-option {
        .truncate();
      }
    }
    .dropdown-toggle .caret {
      font-size: 16px;
      right: 30px;
    }
    .dropdown-menu {
      background-color: @navbar-os-project-menu-bg;
      border-color: @navbar-os-project-border-color;
      color: @navbar-os-project-menu-color;
      margin-top: 0;
      padding: 0;
      li {
        &.selected a {
          background-color: @navbar-os-project-menu-active-bg !important;
          border-color: transparent !important;
          color: @navbar-os-project-menu-active-color;
          &:after {
            content: '';
            width: 2px;
            height: 100%;
            left:0;
            top:0;
            display: block;
            position: absolute;
            background-color: @sidebar-os-active;
          }
        }
        a {
          color: @sidebar-os-color;
          padding: 10px 15px;
          &:hover, &:focus {
            background-color: @sidebar-os-hover-bg;
            border-color: transparent;
            color: @sidebar-os-active-color;
          }
        }
        &.divider {
          background-color: @navbar-os-sidebar-border-color !important;
          margin: 0 !important;
        }
      }
    }
  }
  .project-actions {
    a.project-action-btn {
      color: @navbar-os-project-menu-color;
      text-decoration: none;
      .align-items(@align: center);
      .flex(@columns: 1 0 0%);
      .justify-content(@justify: center);
      &:hover {
        background-color: @sidebar-os-hover-bg;
        color: @sidebar-os-active-color;
      }
      &:last-child {
        border-left: 1px solid @navbar-os-sidebar-border-color;
      }
    }
  }
}
@media (max-width: @screen-xs-max) {
  // Project nav at mobile widths
  .navbar-project-menu {
    .form-group {
      display: inline;
    }
    .project-actions {
      a {
        color: lighten(@navbar-os-project-menu-color, 20%);
        cursor: pointer;
        display: flex;
        font-size: 18px;
        // padding: 4px 14px 5px; CLEANUP
        &:hover, &:active, &:focus {
          background-color: @sidebar-os-active-bg;
          color: @navbar-os-project-menu-color;
        }
      }
    }
  }
}

@media (min-width: @screen-sm-min) {
  .navbar-project-menu {
    background: @navbar-os-project-bg;
    border-bottom:0;
    border-top:0;
    float: left;
    margin: 0;
    padding-top: 0;
    max-width: 380px;
    .bootstrap-select.btn-group .btn {
      border-left:1px solid @navbar-os-sidebar-border-color;
      border-right:1px solid @navbar-os-sidebar-border-color;
      padding: 9px 40px 7px 30px;
      &:before {
        color: @gray-light;
        content: 'Projects';
        font-size: @font-size-xsmall;
        left: 30px;
        position: absolute;
        top: 8px;
      }
    }
    .bootstrap-select .dropdown-toggle {
      height: 60px;
      min-width: 270px;
    }
    .project-actions {
      display: none;
    }
  }
}
