//
// Sidebar Sidenav & Secondary hover menu
// --------------------------------------------------

.sidebar-left {
  background: @sidebar-os-bg;
  position:relative;
  .navbar-sidebar {
    border-bottom: 1px solid @navbar-os-sidebar-border-color;
    margin: 0;
    min-height: 46px;
    .sidebar-header {
      border: 0;
      padding-bottom: 0;
      margin: 0;
      display: block;
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
      h2 {
        // make size, weight and height consistent with project list select
        color: @navbar-os-project-menu-color;
        font-size: 15px;
        margin-left: 20px;
        margin-top: 13px;
      }
      .navbar-toggle {
        margin:4px 10px 0;
        padding: 10px;
        .icon-bar {
          background: @navbar-pf-alt-color;
        }
        &:hover, &:focus {
          .icon-bar {
            background: @navbar-pf-alt-navbar-toggle-icon-bar-hover-bg;
          }
        }
      }
    }
    .navbar-collapse {
      border-top: 0;
      padding: 0;
      margin-top: 5px;
      max-height: none;
      .box-shadow(none);
    }
    ul.nav-sidenav-primary> li {
      // outline: 1px solid @navbar-os-sidebar-border-color;
      outline: 1px solid @navbar-os-sidebar-border-color;
      margin-bottom: 1px;
      &.active {
        > a {
          background-color: @sidebar-os-active-bg;
          color: @sidebar-os-active-color;
          &:hover, &:focus {
            background-color: @sidebar-os-active-bg;
          }
          &:after {
            content: '';
            width: 4px;
            height: 100%;
            left:0;
            top:0;
            display: block;
            position: absolute;
            background-color: @sidebar-os-active;
          }
          .fa {
            color: @sidebar-os-active;
          }
        }
      }
      > a {
        background: @sidebar-os-bg;
        color: @sidebar-os-color;
        font-weight: 300;
        &:hover, &:focus {
          background-color: @sidebar-os-hover-bg;
          color: @sidebar-os-active-color;
          .fa {
            color: @sidebar-os-active;
          }
        }
        .fa {
          color: @sidebar-os-icon-color;
        }
        &.dropdown-toggle:focus {
          outline: thin dotted;
        }
      }
      ul.nav-sidenav-secondary {
        > li {
          &:first-child {
            border-top: 1px solid @navbar-os-sidebar-border-color;
          }
          a {
            color: @sidebar-os-color;
            &:hover {
              background:@sidebar-os-hover-bg;
              color: @sidebar-os-active-color;
            }
          }
          &.active a {
            background-color: @sidebar-os-active-bg;
            color: @sidebar-os-active-color !important;
            &:after {
              content: '';
              width: 2px;
              height: 100%;
              left:0;
              top:0;
              display: block;
              position: absolute;
              background-color: @sidebar-os-active;
            }
          }
        }
      }
    }
  }
}
.show-sidebar-right {
  .sidebar-right {
    .sidebar-header {
      border-color: @page-header-border-color;
      margin-top: 32px;
    }
    h3 {
      border-top: 1px solid darken(@page-header-border-color, 2%);
      padding-top: @line-height-computed;
      &:last-child {
        border-top: 0;
        padding-top: 0;
      }
    }
    .dl-horizontal {
      margin: 0 0 @line-height-computed;
      dt {
        text-align: left;
      }
      dd {
        .word-break();
      }
    }
    .sidebar-help {
      color: @gray-light;
    }
  }
}


@media (min-width: @screen-sm-min) {
  .sidebar-left {
    .navbar-sidebar {
      border-right: 1px solid @navbar-os-sidebar-border-color;
      border-bottom: 0;
      width: @sidebar-left-width-sm;
      position: absolute;
      top:0;
      right:0;
      bottom: 0;
      left:0;
      .sidebar-header {
        display: none;
      }
      .navbar-collapse {
        margin: 0;
      }
      // Sidebar hover menu
      .hover-nav.dropdown-menu {
        background-color: @sidebar-os-bg;
        border-color: @navbar-os-sidebar-border-color;
        .box-shadow(2px 2px 2px rgba(0, 0, 0, 0.125));
        left: 100%;
        margin: -1px 0 0;
        min-width: 230px;
        position: absolute;
        top: 0;
      }
      ul.nav-sidenav-primary> li {
        position: static;
        &.active.open > a {
          background-color: @sidebar-os-active-bg;
        }
        &.open > a {
          background-color: @sidebar-os-hover-bg;
        }
        > a {
          padding: @sidebar-os-padding-x @sidebar-os-padding-y;
          text-align: center;
          .fa {
            display: inline;
            font-size: 20px;
          }
          span {
            display: block;
            margin: 0;
          }
        }
        .hover-nav {
          ul.nav-sidenav-secondary {
            li {
              &:first-child {
                border-top: none;
              }
              a {
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
  .show-sidebar-right {
    .sidebar-right {
      .dl-horizontal {
        dt {
          float: none;
          width: auto;
        }
        dd {
          margin-left: 0;
          margin-bottom: (@line-height-computed / 2);
        }
      }
    }
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-lg-max) {
  //Ensure icon and text stack
  ul.nav-sidenav-primary> li {
    > a {
      span {
        padding: 0 10px;
      }
    }
  }
}

@media (min-width: @screen-lg-min) {
  .sidebar-left {
    .navbar-sidebar {
      // width: @sidebar-left-width-md;
      font-size: @font-size-base + 1;
      .nav-sidenav-secondary.hover-nav.dropdown-menu {
        font-size:  @font-size-base + 1;
      }
      ul.nav-sidenav-primary> li {
        > a {
          padding-bottom: @sidebar-os-padding-y + 10;
          padding-top: @sidebar-os-padding-y + 10;
        }
        &.open > a {
          // padding-right: @sidebar-os-padding-y + 6; CLEANUP
        }
      }
    }
  }
}

@media (min-width: @screen-xlg-min) {
  .sidebar-left {
    .navbar-sidebar {
      ul.nav-sidenav-primary> li {
        > a {
          text-align: left;
          padding: (@sidebar-os-padding-y * 1.5);
          .fa {
            margin-right: 10px;
          }
          span {
            display: inline;
          }
        }
      }
    }
  }
  .show-sidebar-right {
    .sidebar-right {
        .dl-horizontal {
          dt {
            width: 49%;
          }
          dd {
            margin-left: 50%;
          }
        }
    }
  }
}
