// Typography.scss
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------


// LINKS
// -----

a:hover {color: $linkColorBlueHover; }

// BODY TEXT
// ---------

p {
  margin: 0 0 $baseLineHeight;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  small {
    font-size: $smallFontSize;
    color: $grayLight;
  }
}
.lead {
  margin-bottom: $baseLineHeight;
  font-size: $leadFontSize;
  font-weight: 300;
  line-height: $leadLineHeight;
}
p.larger,
pre.larger { 
  font-size: $largeFontSize;
  line-height: $largeLineHeight;
}

// HEADINGS
// --------
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $headerFontFamily;
  font-weight: normal;
  color: #000;
  small {
    font-weight: normal;
    color: $grayLight;
  }
}
h1 {
  font-weight: 300;
}
h3 + h4, h3 + h5, h4 + h5 {
  padding-top: $baseLineHeight / 3;
}
//p + h2, p + h3, p + h4, p + h5 {
//}
h1 {
  font-size: $h1FontSize;
  line-height: $h1LineHeight;
  margin-bottom: $h1MarginBottom;
}
h2 {
  font-size: $h2FontSize;
  line-height: $h2LineHeight;
  margin-bottom: $h2MarginBottom;
}
h3 {
  font-size: $h3FontSize;
  line-height: $h3LineHeight;
  margin-bottom: $h3MarginBottom;
  small {
    font-size: $smallFontSize;
    margin-right: 15px;
  }
}
h4 {
  font-size: $h4FontSize;
  line-height: $h4LineHeight;
  margin-bottom: $h4MarginBottom;
  small {
    font-size: $tinyFontSize;
    margin-left: 5px;
  }
}
h5 {
  font-size: $h5FontSize;
  line-height: $h5LineHeight;
  margin-bottom: $h5MarginBottom;
  font-weight: 600;
}
h6 {
  font-size: $h6FontSize;
  line-height: $h6LineHeight;
  font-weight: 600;
}

footer h3 {
  text-transform:uppercase;
  margin-bottom: 0;
}

.align-right {
  text-align: right;
}

// ASIDE
// -----
aside, aside p {
    font-size: $tinyFontSize;
}

// TABLES
// -----
.table td > *:last-child {
  margin-bottom: 0;
}

// LISTS
// -----

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 $baseLineHeight + 4 $baseLineHeight + 4;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;

  ul {
    list-style-type: circle;

    ul {
      list-style-type: square;
    }
  }
}
ol {
  list-style: decimal;
}
li {
  margin-bottom: 2px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
  li > [data-icon]:first-child {
    color: #999;
    font-size: 12px;
    margin-left: 1px;
    margin-right: 3px;
  }
}
ul.spaced-items > li, ol.spaced-items > li {
  margin-bottom: 13px;
}
p + ul, p + ol {
  margin-top: -5px;
}

// Description Lists
dl {
  margin-bottom: $baseLineHeight;
}
dt,
dd {
  line-height: $baseLineHeight;
}
dt {
  font-weight: 600;
}
dd {
  margin: 0 0 10px 10px;
}

// MISC
// ----

// Horizontal rules
hr {
  margin: $baseLineHeight 0;
  border: 0;
  border-top: 1px solid $hrBorder;
  #border-bottom: 1px solid $white;
}

// Emphasis
strong {
  font-weight: 600;
}
em {
  font-style: italic;
}
.muted {
  color: $grayLight;
}
.light {
  font-weight: 300;
}

// Abbreviations and acronyms

abbr {
  text-transform: uppercase;
  border-bottom: 1px dotted $grayLight;
  cursor: help;
  
  &[title="required"] {
    border: 0;
  }
}



// Blockquotes
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 $baseLineHeight;
  border-left: 5px solid $grayLighter;
  p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: $baseLineHeight * 1.25;
  }
  small {
    display: block;
    line-height: $baseLineHeight;
    color: $grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-left: 0;
    padding-right: 15px;
    border-left: 0;
    border-right: 5px solid $grayLighter;
    p,
    small {
      text-align: right;
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before, 
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: $baseLineHeight;
  line-height: $baseLineHeight;
  font-style: normal;
}

// Misc
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}

.smaller {font-size: $smallFontSize; line-height: 1.4;}
.tiny-size {font-size:$tinyFontSize; line-height: 1.4;}

a.external:after { 
  content: "\279A";
  font-size: $smallFontSize;
  vertical-align: text-bottom;
}
a.external img[alt="external"] {
  display: none;
}


dl.larger {
  > dt {
    font-size: $leadFontSize; 
    line-height: $leadLineHeight; 
  }
  > dd {
    margin-bottom: 20px; 
  }
}


figure {
  margin: 0;
  padding: 0;
}

body {
  /* WebKit only, allows links and other stuff to break */
  word-break: break-word;
  word-wrap: break-word;

  input {
    word-break: normal;
    word-wrap: normal;
  }
}


ol.unstyled {
  margin-left: 0;
  list-style: none;
}


ul.regular,
ol.regular {
  margin: 0 0 9px 30px;
  padding: 0;
}


ul.unstyled-flat {
  list-style: none;

  > li {
    list-style: none;
    float:left;
  }
}

.headline, .section-top {
  font-family: $headerFontFamily;
  font-weight: normal;
}

.section {
  margin-bottom: 30px;
}

// A semantic element that is wrapped
.wrap {
  white-space: normal !important;
}

a.link-block {
  display: block;
  text-decoration: none;
}