<div flex>
  <a
    name="logTop"
    id="logTop"></a>

  <div flex class="log-view">
    <div
      ng-show="showScrollLinks"
      class="log-scroll log-scroll-top"
      affix
      offset-top="445"
      offset-bottom="90">
      <a ng-if="loading" href="" ng-click="toggleAutoScroll()">
        <span ng-if="!autoScroll">Follow</span>
        <span ng-if="autoScroll">Stop following</span>
      </a>
      <a ng-if="!loading" href="" ng-click="scrollBottom()">
        Go to end
      </a>
    </div>
    <div flex column class="log-view-output">
      <table>
        <tbody id="logContent"></tbody>
      </table>
      <div row main-axis="center">
        <ellipsis-loader ng-show="loading"></ellipsis-loader>
      </div>
    </div>
    <div
      ng-show="showScrollLinks"
      class="log-scroll log-scroll-bottom">
      <a href="" ng-click="scrollTop()">Go to top</a>
    </div>
  </div>
  <a
    id="logBottom"
    name="logBottom"></a>
</div>
