<div column flex ng-if="links">
  <div row mobile="column" class="log-timestamp" ng-if="start">
    <span row>
      <span>Current log from &nbsp;</span>
      <span flex class="text-right">{{start}}</span>
    </span>
    <span row ng-if="end">
      <span>&nbsp;to&nbsp;</span>
      <span flex class="text-right">{{end}}</span>
    </span>
  </div>
  <div sm="column" md="row">
    <div flex row tablet="column" main-axis="end">
      <div ng-transclude flex></div>
      <div row main-axis="end" cross-axis="end" class="log-link-external">
        <a href=""
          ng-show="download"
          ng-click="makeDownload(logs)">
          Raw <i class="fa fa-external-link"></i>
        </a>
        <a href=""  ng-click="goChromeless()">
          Open full view of log<i class="fa fa-external-link"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<!--
<ng-include
  src="'views/directives/logs/_log-raw.html'"></ng-include>
-->
<ng-include
  src="'views/directives/logs/_log-formatted.html'"></ng-include>


