<div ng-controller="ProjectController">
  <div ng-controller="CreateFromImageController" class="container">
    <ol class="breadcrumb">
      <li><a href="{{projectName | projectOverviewURL}}">{{(project | displayName) || projectName}}</a></li>
      <li><a href="project/{{projectName}}/create">Add to Project</a></li>
      <li class="active"><strong>{{imageName}}</strong></li>
    </ol>
    <div class="row">
      <div class="col-md-12">
        <div class="create-from-image">
          <div class="row">
            <div class="col-md-2 template-name gutter-top hidden-sm hidden-xs">
              <span class="fa fa-cubes"></span>
            </div>
            <div class="col-md-8">
              <osc-image-summary resource="image" name="imageName"></osc-image-summary>
              <div class="clearfix visible-xs-block"></div>
              <form class="" ng-show="imageStream" novalidate name="form">
                <div style="margin-bottom: 15px;">
                  <div class="form-group form-group-lg">
                   <label for="appname" class="required">Name</label>
                   <!--
                     Only validate the name pattern and minlength if the field has both been changed and blurred.  This
                     avoids a lot of problems clicking on the try it / more options links below.  Don't use $touched,
                     which causes validation error messages to flash when typing in the field after clicking one of the
                     links. Show the required error if the user enters and deletes the value, even if the field still
                     has focus.
                   -->
                   <div ng-class="{'has-error': (form.appname.$error.required && form.appname.$dirty) || (form.appname.$invalid && shouldValidateName) || nameTaken}">
                     <input type="text"
                            required
                            take-focus
                            minlength="2"
                            maxlength="24"
                            pattern="[a-z]([-a-z0-9]*[a-z0-9])?"
                            ng-model="name"
                            id="appname"
                            name="appname"
                            ng-change="nameTaken = false"
                            ng-blur="shouldValidateName = form.appname.$dirty"
                            class="form-control form-control-md">
                    </div>
                    <div class="help-block">Used to uniquely identify within this project all the resources created to support the application.</div>
                    <div class="has-error" ng-show="form.appname.$error.required && form.appname.$dirty">
                      <span class="help-block">A name is required.</span>
                    </div>
                    <div class="has-error" ng-show="form.appname.$error.pattern && shouldValidateName">
                      <span class="help-block"><strong>Please enter a valid name.</strong>
                      <p>A valid name is applied to all generated resources. It is an alphanumeric (a-z, and 0-9) string with a maximum length of 24 characters, where the first character is a letter (a-z), and the '-' character is allowed anywhere except the first or last character.</p>
                      </span>
                    </div>
                    <div class="has-error" ng-show="form.appname.$error.minlength && shouldValidateName">
                      <span class="help-block">The name must have at least 2 characters.</span>
                    </div>
                    <div class="has-error" ng-show="nameTaken">
                      <span class="help-block">This name is already in use within the project. Please choose a different name.</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="sourceUrl" class="required">Git Repository URL</label>
                  <div ng-class="{'has-warning': form.sourceUrl.$dirty && !sourceURLPattern.test(buildConfig.sourceUrl), 'has-error': (form.sourceUrl.$error.required && form.sourceUrl.$dirty)}">
                     <input class="form-control"
                       id="sourceUrl"
                       name="sourceUrl"
                       type="text"
                       required
                       aria-describedby="from_source_help"
                       ng-model="buildConfig.sourceUrl">
                  </div>
                  <div ng-if="image.metadata.annotations.sampleRepo" class="help-block">
                    Sample repository for {{imageName}}: {{image.metadata.annotations.sampleRepo}}<span ng-if="image.metadata.annotations.sampleRef">,
                      ref: {{image.metadata.annotations.sampleRef}}</span><span ng-if="image.metadata.annotations.sampleContextDir">,
                      context dir: {{image.metadata.annotations.sampleContextDir}}</span>
                    <a href="" ng-click="fillSampleRepo()"
                      style="margin-left: 3px;">Try it<i class="fa fa-level-up" style="margin-left: 3px; font-size: 17px;"></i></a>
                  </div>
                  <div class="has-error" ng-show="form.sourceUrl.$error.required && form.sourceUrl.$dirty">
                    <span class="help-block">A Git repository URL is required.</span>
                  </div>
                  <div>
                    <span class="text-warning" ng-if="form.sourceUrl.$dirty && !sourceURLPattern.test(buildConfig.sourceUrl)">Git repository should be a URL.</span>
                  </div>
                </div>

                <div click-to-reveal link-text="Show advanced build and deployment options">
                  <div class="form-group">
                    <label for="gitref">Git Reference</label>
                    <div>
                      <input id="gitref" ng-model="buildConfig.gitRef" type="text" placeholder="master" class="form-control form-control-md">
                    </div>
                    <div class="help-block">Optional branch, tag, or commit.</div>
                  </div>
                  <div class="form-group">
                    <label for="contextdir">Context Dir</label>
                    <div>
                      <input id="contextdir" ng-model="buildConfig.contextDir" type="text" placeholder="/" class="form-control form-control-md">
                    </div>
                    <div class="help-block">Optional subdirectory for the application source code, used as the context directory for the build.</div> </div>

                  <!-- Only show routing options if the image has exposed ports. -->
                  <osc-form-section
                    header="Routing"
                    about-title="Routing"
                    about="Routing is a way to make your application publicly visible. Otherwise you may only be able to access your application by its IP address, if allowed by the system administrator."
                    expand="true"
                    can-toggle="false"
                    ng-if="routing.portOptions.length"
                    >
                    <div ng-hide="$parent.expand">
                      <div>
                        <label>Create a route to the application: </label>
                        <span>{{routing | yesNo}}</span>
                      </div>
                    </div>
                    <div ng-show="$parent.expand">
                      <div class="form-group checkbox">
                        <label>
                          <input type="checkbox" ng-model="routing.include">
                            Create a route to the application
                            <span class="help action-inline">
                              <i class="pficon pficon-help" data-toggle="tooltip" data-placement="right" data-original-title="Additional routes with alternative configuration options (security, TLS termination, etc) can be added using the oc command."></i>
                            </span>
                        </label>

                      </div>
                      <div class="form-group">
                        <label for="routeTargetPort">Target port:</label>
                        <span ng-if="routing.portOptions.length === 1">{{routing.portOptions[0].containerPort}}/{{routing.portOptions[0].protocol}}</span>
                        <select
                            id="routeTargetPort"
                            ng-if="routing.portOptions.length > 1"
                            ng-model="routing.targetPort"
                            ng-options="(portSpec.containerPort + '/' + portSpec.protocol) for portSpec in routing.portOptions"
                            ng-disabled="!routing.include">
                        </select>
                      </div>
                    </div>
                  </osc-form-section>

                  <!-- /routing -->

                  <osc-form-section
                    header="Deployment Configuration"
                    about-title="Deployment Configuration"
                    about="Deployment configurations describe how your application is configured
                      by the cluster and under what conditions it should be recreated (e.g. when the image changes)."
                    expand="true"
                    can-toggle="false"
                    >
                    <div ng-hide="$parent.expand">
                      <h3>Autodeploy when</h3>
                      <div>
                        <label>New image is available: </label>
                        <span>{{deploymentConfig.deployOnNewImage | yesNo}}</span>
                      </div>
                      <div>
                        <label>Deployment configuration changes: </label>
                        <span>{{deploymentConfig.deployOnConfigChange | yesNo}}</span>
                      </div>
                      <h3>Environment Variables <span class="help action-inline">
                        <a href data-toggle="tooltip" data-placement="right"
                           data-original-title="Environment variables are used to configure and pass information to running containers.">
                          <i class="pficon pficon-help"></i>
                        </a>
                      </span></h3>

                      <osc-key-values
                        entries="deploymentConfig.envVars"
                        delimiter="="
                        key-validator="env"
                        delete-policy="added"
                        editable="true"
                       />
                    </div>
                    <div class="animate-drawer" ng-show="$parent.expand">
                      <h3>Autodeploy when</h3>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="deploymentConfig.deployOnNewImage">
                          New image is available
                        </label>
                      </div>
                      <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="deploymentConfig.deployOnConfigChange">
                        Deployment configuration changes
                      </label>
                      </div>
                      <div>
                        <h3>Environment Variables <span class="help action-inline">
                          <a href data-toggle="tooltip" data-placement="right"
                             data-original-title="Environment variables are used to configure and pass information to images.">
                            <i class="pficon pficon-help"></i>
                          </a>
                        </span></h3>
                        <osc-key-values
                          entries="deploymentConfig.envVars"
                          delimiter="="
                          key-validator="env"
                          delete-policy="added"
                          key-validation-tooltip="A valid environment variable name is an alphanumeric (a-z and 0-9) string beginning with a letter that may contain underscores."
                        />
                      </div>
                    </div>
                  </osc-form-section>

                  <!-- /deployment config -->

                  <osc-form-section
                    header="Build Configuration"
                    about-title="Build Configuration"
                    about="A build configuration describes how to build your deployable image.  This includes
                      your source, the base builder image, and when to launch new builds."
                    expand="true"
                    can-toggle="false"
                    >
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="buildConfig.buildOnSourceChange"/>
                        Configure a webhook build trigger
                        <span class="help action-inline">
                          <a href data-toggle="tooltip" data-placement="right"
                             data-original-title="The source repository must be configured to use the webhook to trigger a build when source is committed.">
                            <i class="pficon pficon-help"></i>
                          </a>
                        </span>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="buildConfig.buildOnImageChange"/>
                        Automatically build a new image when the builder image changes
                        <span class="help action-inline">
                          <a href data-toggle="tooltip" data-placement="right" data-original-title="Automatically building a new image when the builder image changes allows your code to always run on the latest updates.">
                          <i class="pficon pficon-help"></i>
                          </a>
                        </span>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="buildConfig.buildOnConfigChange"/>
                        Automatically build a new image when the build configuration changes
                      </label>
                    </div>
                  </osc-form-section>

                  <!-- /build config -->

                  <osc-form-section
                    header="Scaling"
                    about-title="Scaling"
                    about="Scaling defines the number of running instances of your built image."
                    expand="true"
                    can-toggle="false"
                    >
                    <div ng-hide="$parent.expand">
                      <div>
                        <label>Replicas: </label>
                        <span>{{scaling.replicas}}</span>
                      </div>
                    </div>
                    <div ng-show="$parent.expand">
                      <label class="number">
                        Replicas:
                        <input type="number" class="input-number" min="0" name="replicas" ng-model="scaling.replicas" required ng-pattern="/^\-?\d+$/">
                      </label>
                      <div class="has-error" ng-show="form.replicas.$invalid">
                        <span class="help-block">Replicas must be an integer value greater than or equal to 0</span>
                      </div>
                    </div>
                  </osc-form-section>

                  <!-- /scaling -->

                  <label-editor labels="labels" expand="true" can-toggle="false"></label-editor>
                </div>
                <div class="buttons gutter-top-bottom gutter-top-bottom-2x">
                  <!-- unable to use form.valid.  need to fix validators in labels and key values directive -->
                  <button class="btn btn-primary btn-lg"
                      ng-click="createApp()"
                      ng-disabled="form.$invalid || nameTaken"
                      >Create</button>
                  <a class="btn btn-default btn-lg" href="{{projectName | projectOverviewURL}}">Cancel</a>
                </div>
              </form>
              <div ng-hide="imageStream">
                {{ emptyMessage }}
              </div>
            </div>
          </div><!-- /row -->
        </div><!-- /create-from-image -->
      </div><!-- /col-* -->
    </div><!-- /row -->
  </div><!-- /container -->
</div>
