<div layout column flex>
  <div layout sm="column" md="row">
    <div flex row main-axis="end">
      <div layout row cross-axis="end" class="log-link-external">
        <a ng-show="canDownload" ng-click="makeDownload(log)">
          Raw<i class="fa fa-external-link"></i>
        </a>
        <a ng-click="goChromeless()">
          Open full view of log<i class="fa fa-external-link"></i>
        </a>
      </div>
      <!-- when we get timestamps?
      <div class="log-timestamp">
        Current log from 2015-07-26 - 08:14:23 to 2015-07-30 - 21:36:04
      </div> -->
    </div>
  </div>
</div>


