<div ng-show="ready">
  <a id="#LogTop"></a>
  <div class="log-view">
    <div class="log-scroll">
      <a href="#LogBottom">Go to end of log</a>
    </div>
    <div layout flex row class="log-view-output">
      <div class="spinner spinner-inverse" ng-show="!ready"></div>
      <ng-include
        src="'/views/logs/_log_raw.html'"></ng-include>
      <!-- if we enable log filtering, this view will accommodate
      <ng-include
        src="'/scripts/projects/logs/views/_log_formatted.html'"></ng-include>
       -->
    </div>
    <div layout flex column cross-axis="end">
      <a href="#LogTop">Go to start of log</a>
    </div>
  </div>
  <a id="#LogBottom"></a>
</div>
