<default-header class="top-header"></default-header>
<div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
  <navbar-utility-mobile></navbar-utility-mobile>
</div>
<div class="wrap chromeless"><!-- flex row -->
  <div class="middle"><!-- flex -->
    <div class="middle-section"><!-- absolute position, height 100%, width 100% fill parent -->
      <div id="scrollable-content" class="middle-container has-scroll"><!-- flex column, height 100% -->
        <div class="middle-header">
          <div class="container-fluid">
            <alerts alerts="alerts"></alerts>
          </div>
        </div>
        <div class="middle-content"><!-- flex item (fill the parent) -->
          <log-viewer
            resource="builds/log"
            name="build.metadata.name"
            context="projectContext"
            status="build.status.phase"
            time-start="build.status.startTimestamp | date : 'short'"
            time-end="build.status.completionTimestamp | date : 'short'"
            chromeless="true"
            run="logCanRun"
            flex>
          </log-viewer>
        </div>
      </div>
    </div>
  </div>
</div>
