[Unit]
Description=docker-in-docker setup
Before=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/local/bin/dind-setup.sh

[Install]
RequiredBy=docker.service
