d   $ORIGIN_DATA_DIR - - - - -
d   /etc/cni/net.d - - - - -
d   /var/lib/cni - - - - -
d   /var/run/secrets - - - - -
d   $ORIGIN_CONFIG_DIR/sdn - - - - -
d   $ORIGIN_CONFIG_DIR/cloudprovider  - - - - -
d   /var/lib/dockershim  - - - - -
