<default-header class="top-header"></default-header>
<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>
  <div class="middle surface-shaded">
    <div class="container surface-shaded">
      <div>
        <h1>Error</h1>
        <h4>{{errorMessage}}</h4>
        <div>{{errorDetails}}</div>
        <br>
        <div>Return to the <a href="" ng-click="reloadConsole()">console</a>.</div>
      </div>
    </div>
  </div><!-- /middle -->
</div><!-- /wrap -->
