<default-header class="top-header logged-out"></default-header>
<div class="wrap no-sidebar">
  <div class="middle surface-shaded">
    <div class="container surface-shaded">
      <div ng-if="!confirmUser">
        <h1 style="margin-top: 10px;">Logging in&hellip;</h1>
        <p>Please wait while you are logged in&hellip;</p>
      </div>
      
      <div ng-if="confirmUser && !overriddenUser">
        <h1 style="margin-top: 10px;">Confirm Login</h1>
        <p>You are being logged in as <code>{{confirmUser.metadata.name}}</code>.</p>
        <button class="btn btn-lg btn-primary" type="button" ng-click="completeLogin();">Continue</button>
        <button class="btn btn-lg btn-default" type="button" ng-click="cancelLogin();">Cancel</button>
      </div>
      
      <div ng-if="confirmUser && overriddenUser">
        <h1 style="margin-top: 10px;">Confirm User Change</h1>
        <p>You are about to change users from <code>{{overriddenUser.metadata.name}}</code> to <code>{{confirmUser.metadata.name}}</code>.</p>
        <p>If this is unexpected, click Cancel. This could be an attempt to trick you into acting as another user.</p>
        <button class="btn btn-lg btn-danger" type="button" ng-click="completeLogin();">Switch Users</button>
        <button class="btn btn-lg btn-primary" type="button" ng-click="cancelLogin();">Cancel</button>
      </div>
      
    </div>
  </div>
</div>
