[Unit]
After=docker.service
Requires=docker.service
PartOf=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/$NAME
ExecStartPre=/bin/bash -c 'export -p > /run/$NAME-env'
ExecStart=$EXEC_START
ExecStartPost=/usr/bin/sleep 5
ExecStop=$EXEC_STOP
SyslogIdentifier=$NAME
Restart=always
RestartSec=5s
WorkingDirectory=$DESTDIR
RuntimeDirectory=${NAME}

[Install]
WantedBy=docker.service
