[Unit]
After=${DOCKER_SERVICE}
Requires=${DOCKER_SERVICE}
PartOf=${DOCKER_SERVICE}

[Service]
EnvironmentFile=/etc/sysconfig/$NAME
ExecStartPre=/bin/bash -c 'export -p > /run/$NAME-env'
ExecStart=$EXEC_START
ExecStop=$EXEC_STOP
SyslogIdentifier=$NAME
Restart=always
Type=notify
NotifyAccess=all
WorkingDirectory=$DESTDIR
RuntimeDirectory=${NAME}

[Install]
WantedBy=${DOCKER_SERVICE}.service
