[Unit]
After=docker.service
Requires=docker.service


[Service]
EnvironmentFile=-/etc/sysconfig/origin-master
ExecStartPre=-/usr/bin/docker rm -f origin-master
ExecStart=/usr/bin/docker run --rm --privileged --net=host --name origin-master -v /var/lib/origin:/var/lib/origin:Z -v /var/run/docker.sock:/var/run/docker.sock -v /etc/origin:/etc/origin --entrypoint /usr/bin/openshift openshift/origin start master --config=${CONFIG_FILE} ${OPTIONS}
ExecStartPost=/usr/bin/sleep 10
ExecStop=/usr/bin/docker stop origin-master
Restart=always

[Install]
WantedBy=multi-user.target
