[Unit]
Requires=docker.service
Wants=openvswitch.service
After=docker.service
After=openvswitch.service
PartOf=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/origin-node
ExecStartPre=-/usr/bin/docker rm -f origin-node
ExecStart=/usr/bin/docker run --name origin-node --rm --privileged --net=host --pid=host --env-file=/etc/sysconfig/origin-node -v /:/rootfs:ro -v /etc/systemd/system:/host-etc/systemd/system -v /etc/localtime:/etc/localtime:ro -v /etc/machine-id:/etc/machine-id:ro -v /lib/modules:/lib/modules -v /run:/run -v /sys:/sys:rw -v /var/lib/docker:/var/lib/docker -v /etc/origin/node:/etc/origin/node -v /etc/origin/openvswitch:/etc/openvswitch -v /etc/origin/sdn:/etc/openshift-sdn -v /var/lib/origin:/var/lib/origin:rslave -v /var/log:/var/log -v /dev:/dev -e HOST=/rootfs -e HOST_ETC=/host-etc openshift/node
ExecStartPost=/usr/bin/sleep 10
ExecStop=/usr/bin/docker stop origin-node
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
