[Unit]
Description=Atomic Enterprise Master
Documentation=https://github.com/openshift/origin
After=network.target
After=etcd.service
Before=atomic-enterpries-node.service
Before=atomic-enterprise-sdn-node.service
Before=atomic-enterprise-sdn-master.service
Requires=network.target

[Service]
Type=notify
EnvironmentFile=/etc/sysconfig/atomic-enterprise-master
Environment=GOTRACEBACK=crash
ExecStart=/usr/bin/atomic-enterprise start master --config=${CONFIG_FILE} $OPTIONS
LimitNOFILE=131072
LimitCORE=infinity
WorkingDirectory=/var/lib/origin/
SyslogIdentifier=atomic-enterprise-master

[Install]
WantedBy=multi-user.target
WantedBy=atomic-enterprise-sdn-master.service
WantedBy=atomic-enterprise-node.service
