[Unit]
Description=OpenShift SDN Node
After=openvswitch.service
After=openshift-sdn-master.service
After=openshift-master.service
Requires=openvswitch.service
Before=openshift-node.service
Before=docker.service
Documentation=https://github.com/openshift/origin

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/openshift-sdn-node
ExecStart=/usr/bin/openshift-sdn -node -etcd-endpoints=${MASTER_URL} -public-ip=${NODE_IP} $OPTIONS
Restart=on-failure
RestartSec=1s
SyslogIdentifier=openshift-sdn-node

[Install]
WantedBy=multi-user.target
WantedBy=openshift-node.service
