[Unit]
Description=OpenShift SDN Master
Documentation=https://github.com/openshift/openshift-sdn
After=openshift-master.service
Before=openshift-sdn-node.service
Before=openshift-node.service

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/openshift-sdn-master
ExecStart=/usr/bin/openshift-sdn $OPTIONS
Restart=on-failure
RestartSec=1s
SyslogIdentifier=openshift-sdn-master

[Install]
WantedBy=multi-user.target
WantedBy=openshift-sdn-node.service
