[Unit]
Description=OpenShift Node
After=docker.service
Requires=docker.service
Documentation=https://github.com/openshift/origin

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/openshift-node
ExecStart=/usr/bin/openshift start $ROLE --images=${IMAGES} --kubeconfig=${KUBECONFIG} $OPTIONS
WorkingDirectory=/var/lib/openshift/

[Install]
WantedBy=multi-user.target
