[Unit]
Description=Atomic Enterprise Master Config Generator
Documentation=https://github.com/openshift/origin
After=network.target
Before=atomic-enterpries-master.service
Before=atomic-enterpries-node.service
Before=atomic-enterprise-sdn-node.service
Before=atomic-enterprise-sdn-master.service
Requires=network.target

[Service]
Type=notify
Environment=GOTRACEBACK=crash
ExecStart=/usr/bin/origin start master --write-config=/etc/origin/master && ln -s /etc/origin/master/master-config.yaml /etc/origin/master/master.yaml
LimitNOFILE=131072
LimitCORE=infinity
WorkingDirectory=/var/lib/origin/
SyslogIdentifier=atomic-enterprise-master-config-generator

[Install]
WantedBy=multi-user.target
WantedBy=atomic-enterprise-sdn-master.service
WantedBy=atomic-enterprise-master.service
WantedBy=atomic-enterprise-node.service
