<div class="modal-project-delete">
  <div class="modal-body">
    <h1>Are you sure you want to delete the project '<strong>{{project | displayName}}</strong>'?</h1>
    <p>This will <strong>delete all resources</strong> associated with the project {{project | displayName}} and <strong>cannot be undone</strong>.  Make sure this is something you really want to do!</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-lg btn-danger" type="button" ng-click="delete();">Delete this project</button>
      <button class="btn btn-lg btn-default" type="button" ng-click="cancel();">Cancel</button>
  </div>
</div>