<div class="modal-resource-edit">
  <div class="modal-header">
    <h2>Edit <span class="hidden-xs">{{resource.kind | humanizeKind : true}}</span> {{resource.metadata.name}}</h2>
  </div>
  <div class="modal-body">
    <!-- Error messages -->
    <parse-error error="error" ng-if="error"></parse-error>

    <!-- Editor -->
    <div ui-ace="{
      mode: 'yaml',
      theme: 'eclipse',
      onLoad: aceLoaded,
      rendererOptions: {
        fadeFoldWidgets: true,
        showPrintMargin: false
      }
    }" ng-model="model" class="editor yaml-mode"></div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-lg btn-primary"
              type="button"
              ng-click="save()"
              ng-disabled="!modified">Save</button>
      <button class="btn btn-lg btn-default"
              type="button"
              ng-click="cancel()">Cancel</button>
  </div>
</div>
