<div class="tile tile-image tile-click label-tags" id="" title="">
  <div class="tile-table">
    <div class="tile-table-cell image-icon">
      <custom-icon resource="imageRepo" kind="image" tag="imageTag" title="{{imageRepo.metadata.name}}:{{imageTag}}"></custom-icon>
    </div>
    <div class="tile-table-cell">
      <h3>
        <a class="tile-target" ng-href="{{imageRepo | createFromImageURL : imageTag : project : sourceUrl}}">{{imageRepo.metadata.name}}:{{imageTag}}</a>
      </h3>
      <p ng-if="imageRepo | imageStreamTagAnnotation : 'description' : imageTag">
        <truncate-long-text content="imageRepo | imageStreamTagAnnotation : 'description' : imageTag" limit="256" use-word-boundary="true"></truncate-long-text>
      </p>
      <div ng-if="imageRepo | imageStreamTagAnnotation : 'provider' : imageTag">
        <label style="margin-right: 5px;">Provider:</label>
        {{imageRepo | imageStreamTagAnnotation : 'provider' : imageTag}}
      </div>
      <div>
        <label style="margin-right: 5px;">Namespace:</label>
        {{imageRepo.metadata.namespace}}
      </div>
      <div ng-if="version && version !== imageTag">
        <label style="margin-right: 5px;">Version:</label>
        {{version}}
      </div>
      <span ng-repeat="tag in (imageRepo | imageStreamTagTags : imageTag)" class="tag small text-muted">
        {{tag}}
      </span>
    </div>
  </div>
</div>
