<div class="col-md-4">
  <div class="tile tile-template tile-click label-tags" id="" title="{{template.metadata.name}}">
    <div class="tile-table">
      <div class="tile-table-cell template-icon">
        <custom-icon resource="template" kind="template" ></custom-icon>
      </div>
      <div class="tile-table-cell">
        <h3>
        <a href="javascript:;" class="tile-target" data-toggle="modal" data-target="#{{template.metadata.uid}}">{{template.metadata.name}}</a>
        </h3>
        <p ng-if="template | description">{{template | description}}</p>
      </div>
    </div>
  </div>
  <div class="modal modal-create fade" id="{{template.metadata.uid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
          <h4 class="modal-title" id="myModalLabel">{{template.metadata.name}}</h4>
        </div>
        <div class="modal-body label-tags">
          <div class="row">
            <div class="template-icon col-xs-4 col-sm-4 col-md-4">
              <custom-icon resource="template" kind="template" title="{{template.metadata.name}}"></custom-icon>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <p ng-if="template | description">{{template | description}}</p>
              <p>
                <div ng-if="template | provider">
                  <label style="margin-right: 5px;">Provider:</label>{{template | provider}}
                </div>
                <div ng-if="template | annotation : 'version'">
                  <label style="margin-right: 5px;">Version:</label>{{template | annotation : 'version'}}
                </div>
              </p>
              <span ng-repeat="tag in (template | tags)" class="label label-default">{{tag.toUpperCase()}}</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-block btn-primary btn-lg select-template">Select template</button>
        </div>
      </div>
    </div>
  </div>
</div>
