<div ng-controller="ProjectController">
  <div ng-controller="CatalogImagesController">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="{{projectName | projectOverviewURL}}">{{(project | displayName) || projectName}}</a></li>
        <li><a href="project/{{projectName}}/create">Create</a></li>
        <li class="active"><strong>Select Image</strong></li>
      </ol>
      <h1>Select a builder image</h1>
      <div ng-if="!builders.length">
        <div ng-if="!loaded">Loading...</div>
        <div ng-if="loaded">There are no builder images to select from. To add a builder to your project, run <code>oc create -f &lt;image_stream_file&gt; -n {{projectName}}</code></div>
      </div>
      <div ng-if="builders.length" class="catalog">
        <catalog-image
            image-repo="builder.imageRepo"
            image-tag="builder.imageRepoTag"
            project="projectName"
            source-url="sourceURL"
            version="builder.version"
            ng-repeat="builder in builders | toArray | orderBy : ['name', 'imageRepo.metadata.namespace']"></catalog-image>
      </div>
      <div ng-if="nonBuilders.length" click-to-reveal link-text="Don't see the image you are looking for?">
        <h2>
          <span>Other images</span>
          <span class="small pficon-layered" data-toggle="tooltip" data-placement="right" title="Some images in this list may not be able to build source. Use with caution." style="cursor: help;">
            <span class="pficon pficon-warning-triangle"></span>
            <span class="pficon pficon-warning-exclamation"></span>
          </span>
        </h2>
        <div class="catalog">
          <catalog-image
              image-repo="image.imageRepo"
              image-tag="image.imageRepoTag"
              project="projectName"
              source-url="sourceURL"
              version="image.version"
              ng-repeat="image in nonBuilders | orderBy : ['name', 'imageRepo.metadata.namespace']"></catalog-image>
        </div>
      </div>
    </div>
  </div>
</div>
