<div ng-controller="ProjectController">
  <div ng-controller="CatalogImagesController">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="{{projectName | projectOverviewURL}}">{{(project | displayName) || projectName}}</a></li>
        <li><a href="project/{{projectName}}/create">Create</a></li>
        <li class="active"><strong>Select Image</strong></li>
      </ol>
      <div class="row">
        <div class="col-md-12">
          <h1>Select a builder image</h1>
        </div>
      </div>
      <div ng-if="!builders.length">There are no builder images to select from.  To add a builder to your project run <code>osc create -f &lt;image_repository_file&gt; -n {{projectName}}</code></div>
      <div ng-if="builders.length">
        <div class="row">
          <catalog-image image-repo="builder.imageRepo" image-tag="builder.imageRepoTag" project="projectName" source-url="sourceURL" ng-repeat-start="builder in builders | orderBy : 'name'"></catalog-image>
          <div ng-repeat-end ng-if="($index % 3) == 2" class="clearfix"></div>
        </div>
      </div>
      <div ng-if="nonBuilders.length" click-to-reveal link-text="Don't see the image you are looking for?">
        <h2>
          <span>Other images</span>
          <span class="small pficon-layered" data-toggle="tooltip" data-placement="right" title="Some images in this list may not be able to build source. Use with caution." style="cursor: help;">
            <span class="pficon pficon-warning-triangle"></span>
            <span class="pficon pficon-warning-exclamation"></span>
          </span>
        </h2>
        <div class="row">
          <catalog-image image-repo="image.imageRepo" image-tag="image.imageRepoTag" project="projectName" source-url="sourceURL" ng-repeat-start="image in nonBuilders | orderBy : 'name'"></catalog-image>
          <div ng-repeat-end ng-if="($index % 3) == 2" class="clearfix"></div>
        </div>
      </div>      
    </div>
  </div>
</div>
