<div ng-controller="ProjectController">
  <div ng-controller="CatalogTemplatesController">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="{{projectName | projectOverviewURL}}">{{(project | displayName) || projectName}}</a></li>
        <li><a href="project/{{projectName}}/create">Create</a></li>
        <li class="active"><strong>Select Template</strong></li>
      </ol>
      <div class="row">
        <div class="col-md-12">
          <!-- TODO we don't need a breadcrumb yet
           <ol class="breadcrumb">
            <li><a href="#">Create</a></li>
            <li>Step 2</li>
          </ol> -->
          <h1>Select a template</h1>
        </div>
      </div>
      <div ng-if="!templates.length">There are no templates to select from.  To add a template to your project run <code>oc create -f &lt;template_file&gt; -n {{projectName}}</code></div>
      <div ng-if="templates.length">
        <div class="row">
          <catalog-template template="template" project="projectName" ng-repeat-start="template in templates | orderBy : 'metadata.name'"></catalog-template>
          <div ng-repeat-end ng-if="($index % 3) == 2" class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
