<div ng-repeat="alert in alerts">
  <div ng-switch="alert.type">
    <div ng-switch-when="error" class="alert alert-danger">
      <span class="pficon pficon-error-circle-o"></span>
      <strong ng-if="alert.message" style="margin-right: 5px;">{{alert.message}}</strong><span ng-if="alert.details">{{alert.details}}</span>
    </div>  
    <div ng-switch-when="warning" class="alert alert-warning">
      <span class="pficon pficon-warning-triangle-o"></span>
      <strong ng-if="alert.message" style="margin-right: 5px;">{{alert.message}}</strong><span ng-if="alert.details">{{alert.details}}</span>
    </div>  
    <div ng-switch-when="success" class="alert alert-success">
      <span class="pficon pficon-ok"></span>
      <strong ng-if="alert.message" style="margin-right: 5px;">{{alert.message}}</strong><span ng-if="alert.details">{{alert.details}}</span>
    </div>  
    <div ng-switch-default class="alert alert-info">
      <span class="pficon pficon-info"></span>
      <strong ng-if="alert.message" style="margin-right: 5px;">{{alert.message}}</strong><span ng-if="alert.details">{{alert.details}}</span>
    </div>
  </div>
</div>