<div ng-controller="LabelsController" class="labels">
  <div class="gutter-bottom">
    <div class="flow">
      <div class="flow-block">
        <h2>Labels</h2>
      </div>
      <div class="flow-block right">
        <ul class="list-inline">
          <li><a class="action action-inline" href="javascript:;" ng-click="toggleExpanded()" ng-show="expanded"><i class="pficon pficon-remove"></i>Collapse</a></li>
          <li><a class="action action-inline" href="javascript:;" ng-click="toggleExpanded()" ng-hide="expanded"><i class="pficon pficon-add"></i>Add labels</a></li>
          <li><span class="help action-inline"><i class="pficon pficon-help"></i> <a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="Labels are used to organize, group, or select objects and resources, such as pods.">About labels</a></span></li>
        </ul>
      </div>
    </div>
    <div class="form-inline labels-edit" ng-show="expanded">
      <form class="edit-label" name="form">
        <div ng-class="{'form-group': true, 'has-error': form.labelkey.$error.label}">
          <label class="sr-only">Label</label>
          <input class="form-control" type="text" name="labelkey" placeholder="Label" ng-model="labelKey" label-validator required>
        </div>
        <span class="separator">:</span>
        <div class="form-group">
          <label class="sr-only">Value</label>
          <input class="form-control" type="text" name="labelvalue" placeholder="Value" ng-model="labelValue" required>
        </div>
        <input type="submit" class="btn btn-default" ng-click="addLabel()" ng-enabled="form.$valid" value="Add Label">
        <div class="has-error" ng-show="form.labelkey.$error.label">
          <span class="help-block">Please enter a valid object label
            <span class="help action-inline">
              <a  data-toggle="tooltip" data-placement="bottom"
                title="A valid object label has the form [domain/]name where a name is an alphanumeric (a-z, and 0-9) string, with a maximum length of 63 characters, with the '-' character allowed anywhere except the first or last character. A domain is a sequence of names separated by the '.' character with a maximum length of 253 characters.">
                <i class="pficon pficon-help"></i>
              </a>
            </span>
          </span>
        </div>
      </form>

      <ul class="list-unstyled label-list">
        <li ng-show="labels.template">
          <span class="key truncate">template</span>
          <span class="value truncate">{{ labels.template }}</span>
        </li>
        <li ng-repeat="(key,value) in labels" ng-if="key!='template'">
          <span class="key truncate">{{ key }}</span>
          <span class="value truncate">{{ value }}</span>
          <a class="btn btn-default btn-xs" href="javascript:;" ng-click="deleteLabel(key)"><i class="fa fa-times"></i></a>
        </li>
      </ul>
    </div>
    <ul class="labels-readonly label-list list-unstyled" ng-hide="expanded">
      <li ng-show="labels.template">
        <span class="key truncate">template</span>
        <span class="value truncate">{{ labels.template }}</span>
      </li>
      <li ng-repeat="(key,value) in labels" ng-if="key!='template'">
        <span class="key truncate">{{ key }}</span>
        <span class="value truncate">{{ value }}</span>
      </li>
    </ul>
  </div>
</div>
