<div ng-class="{'show-sidebar-right': renderOptions.showSidebarRight}" class="wrap">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-1">
    <sidebar></sidebar>
  </div>
  <div id="container-main" class="middle">
    <div ng-transclude>

    </div>
  </div>
  <div class="sidebar-right sidebar-pf sidebar-pf-right">
    <div class="right-section">
      <div class="right-container">
        <div class="sidebar-header right-header">
            <h2 class="h5">Details</h2>
        </div>
        <div class="right-content">
          <osc-object-describer></osc-object-describer>
        </div>
      </div>
    </div><!-- /right-section -->
  </div>
</div>
