  <nav class="navbar navbar-sidebar">
    <div class="sidebar-header">
      <button type="button" class="navbar-toggle btn-flat-default" data-toggle="collapse" data-target=".navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h2 class="visible-xs">{{sidebarHeading}}</h2>
    </div>
    <div class="navbar-collapse navbar-collapse-2 collapse">
      <ul class="nav nav-sidenav" hawtio-main-nav>
      </ul>
    </div>
  </nav>
  <div class="sidebar-drawer hidden-xs">
    
  </div>