<div class="template-options" ng-show="hasParameters">
  <div class="flow">
    <div class="flow-block">
      <h2>Parameters</h2>
    </div>
    <div class="flow-block right">
      <a class="action action-inline" href="javascript:;" ng-click="toggleOptionsExpanded()" ng-show="optionsExpanded"><i class="pficon pficon-remove"></i> Collapse</a>
      <a class="action action-inline" href="javascript:;" ng-click="toggleOptionsExpanded()" ng-hide="optionsExpanded"><i class="pficon pficon-edit"></i> Edit Parameters</a>
    </div>
  </div>
  <div class="form-group options" ng-repeat="parameter in template.parameters" ng-show="optionsExpanded">
    <label for="param-{{$index}}" title="{{ parameter.description }}">{{parameter.name}}</label>
    <input id="param-{{$index}}" class="form-control" type="text" placeholder="{{ parameter | parameterPlaceholder }}" ng-model="parameter.value">
    <div class="help-block" ng-if="parameter.description">{{parameter.description}}</div>
  </div>
  <ul class="list-unstyled env-variable-list" ng-hide="optionsExpanded">
    <li class="options" ng-repeat="parameter in template.parameters">
        <label for="" class="key truncate" ng-attr-title="{{ parameter.name }}">{{parameter.name}}</label>
        <span class="value truncate" ng-attr-title="{{parameter | parameterValue}}">{{ parameter | parameterValue }}</span>
        <div class="help-block" ng-if="parameter.description">{{parameter.description}}</div>
    </li>
  </ul>
 </div>
