<div class="builds-block">
  <div class="builds" ng-repeat="trigger in triggers">
    <div ng-repeat="build in trigger.builds" ng-if="build.status.phase == 'New' || build.status.phase == 'Pending' || build.status.phase == 'Running' || (build.metadata.creationTimestamp | ageLessThan : 5 : 'minutes')" class="build animate-repeat osc-object" kind="Build" resource="build">
      <!-- Icon -->
      <span ng-switch="build.status.phase" class="hide-ng-leave">
        <span ng-switch-when="Complete" class="fa fa-check text-success" aria-hidden="true" style="margin-right: 5px;"></span>
        <span ng-switch-when="Failed" class="fa fa-times text-danger" aria-hidden="true" style="margin-right: 5px;"></span>
        <span ng-switch-when="Error" class="fa fa-times text-danger" aria-hidden="true" style="margin-right: 5px;"></span>
        <span ng-switch-when="Cancelled" class="fa fa-ban text-warning" aria-hidden="true"></span>
        <span ng-switch-default class="fa fa-refresh fa-spin" aria-hidden="true" style="margin-right: 5px;"></span>
      </span>
      <!-- Message -->
      A build of {{build.metadata.labels.buildconfig}}
      <span ng-switch="build.status.phase" class="hide-ng-leave">
        <span ng-switch-when="Complete">completed.</span>
        <span ng-switch-when="Failed">failed.</span>
        <span ng-switch-when="Error">encountered an error.</span>
        <span ng-switch-when="Cancelled">was cancelled.</span>
        <span ng-switch-default>is {{build.status.phase | lowercase}}.
          <span ng-if="trigger.imageChangeParams.automatic">
            A new deployment will be created automatically once the build completes.
          </span>
        </span>
      </span>
    </div>
  </div>
</div>
