<default-header class="top-header"></default-header>
<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>
  <div class="middle">
    <!-- Middle section -->
    <div class="middle-section surface-shaded">
      <div class="middle-container has-scroll">
        <div class="middle-content">
          <div class="container surface-shaded gutter-top">
            <div class="row">
              <div class="col-md-12">
                <div class="about">
                  <div class="row">
                    <div class="col-md-2 about-icon gutter-top hidden-sm hidden-xs">
                      <img src="images/openshift-logo.svg" />
                    </div>
                    <div class="col-md-9">
                      <h1>OpenShift by Red Hat&reg;</h1>
                      <h2>About</h2>
                      <p><a href="https://openshift.com">OpenShift</a> is Red Hat's Platform-as-a-Service (PaaS) that allows developers to quickly develop, host, and scale applications in a cloud environment.</p>

                      <h2 id="version">Version</h2>
                      <dl class="dl-horizontal left">
                        <dt>OpenShift Master:</dt>
                        <dd>{{version.master.openshift || 'unknown'}}</dd>
                        <dt>Kubernetes Master:</dt>
                        <dd>{{version.master.kubernetes || 'unknown'}}</dd>
                      </dl>

                      <p>The <a target="_blank" href="{{'welcome' | helpLink}}">documentation</a> contains information and guides to help you learn about OpenShift and start exploring its features. From getting started with creating your first application, to trying out more advanced build and deployment techniques, it provides what you need to set up and manage your OpenShift environment as an application developer.</p>

                      <p>With the OpenShift command line interface (CLI), you can create applications and manage OpenShift projects from a terminal. To get started using the CLI you will need to <a target="_blank" href="command-line">download it and login</a>. For more information about the command line tools, check the <a target="_blank" href="{{'cli' | helpLink}}">CLI Reference</a> and <a target="_blank" href="{{'basic_cli_operations' | helpLink}}">Basic CLI Operations</a>.
                      </p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /middle-content -->
      </div><!-- /middle-container -->
    </div><!-- /middle-section -->
  </div><!-- /middle -->
</div><!-- /wrap -->
