<div ng-controller="ProjectController" class="content">
  <project-page>
    <div ng-controller="BuildsController">
      <div class="page-header page-header-bleed-right">
        <h1>Builds</h1>
      </div>
      <alerts alerts="alerts"></alerts>
      <div ng-if="(builds | hashSize) == 0 && (buildConfigs | hashSize) == 0">
        <div>
          <em>{{emptyMessage}}</em>
        </div>
      </div>
      <div class="tile" ng-repeat="(buildConfigName, buildConfig) in buildConfigs">
        <div>
          <h2>{{buildConfigName}}</h2>
          <dl class="dl-horizontal left indent">
          <div>
            
              <dt>Build strategy:</dt>
              <dd>{{buildConfig.parameters.strategy.type}}</dd>

          </div>
          <div ng-switch="buildConfig.parameters.strategy.type">
            <div ng-switch-when="STI">
              <div ng-if="buildConfig.parameters.strategy.stiStrategy.image">

                  <dt>Builder image:</dt>
                  <dd>{{buildConfig.parameters.strategy.stiStrategy.image}}</dd>

              </div>
              <div ng-if="buildConfig.parameters.strategy.stiStrategy.from">
                  <dt>Builder image stream:</dt>
                  <dd>{{buildConfig.parameters.strategy.stiStrategy.from | imageRepoReference : buildConfig.parameters.strategy.stiStrategy.from.kind : buildConfig.parameters.strategy.stiStrategy.Tag}}
                  </dd>                  

              </div>
            </div>
            <div ng-switch-when="Docker">
              <div ng-if="buildConfig.parameters.strategy.dockerStrategy.image">

                  <dt>Builder image:</dt>
                  <dd>{{buildConfig.parameters.strategy.dockerStrategy.image}}</dd>

              </div>
              <div ng-if="buildConfig.parameters.strategy.dockerStrategy.from">
                <dl class="dl-horizontal">
                  <dt>Builder image stream:</dt>
                  <dd>{{buildConfig.parameters.strategy.dockerStrategy.from | imageRepoReference : buildConfig.parameters.strategy.dockerStrategy.from.kind : buildConfig.parameters.strategy.dockerStrategy.Tag}}
                  </dd>                  
                </dl>
              </div>
            </div>
            <div ng-switch-when="Custom">
              <div ng-if="buildConfig.parameters.strategy.customStrategy.image">
                <dt>Builder image:</dt>
                <dd>{{buildConfig.parameters.strategy.customStrategy.image}}</dd>
              </div>
              <div ng-if="buildConfig.parameters.strategy.customStrategy.from">
                <dt>Builder image stream:</dt>
                <dd>{{buildConfig.parameters.strategy.customStrategy.from | imageRepoReference : buildConfig.parameters.strategy.customStrategy.from.kind : buildConfig.parameters.strategy.customStrategy.Tag}}
                </dd>                  
              </div>
            </div>
          </div>
          <div ng-if="buildConfig.parameters.source">
            <div ng-if="buildConfig.parameters.source.type == 'Git'">

                <dt>Source repo:</dt>
                <dd ng-bind-html='buildConfig.parameters.source.git.uri | githubLink | linky'></dd>

            </div>
          </div>
          <div ng-if="buildConfig.parameters.output">
            <div ng-switch="buildConfig.parameters.output.to.kind">
              <div ng-switch-when="ImageRepository">

                  <dt>Output image repo [tag]:</dt>
                    <dd>{{buildConfig.parameters.output.to | imageRepoReference : buildConfig.parameters.output.tag}}</dd>

              </div>
            </div>
            <div ng-if="!buildConfig.parameters.output.to && buildConfig.parameters.output.dockerImageReference">

                <dt>Output image:</dt>
                <dd>{{buildConfig.parameters.output.dockerImageReference}}</dd>
              
            </div>
          </div>
          </dl>

          <div>
            <h3>Triggers:</h3>
            <dl class="dl-horizontal left indent">

              <div ng-repeat="trigger in buildConfig.triggers">
                <div ng-switch="trigger.type">
                  <div ng-switch-when="github">
                      <dt>GitHub webhook URL
                      <a href="{{'webhooks' | helpLink}}" target="_blank"><span class="learn-more-block">Learn more 
                      <i class="fa fa-external-link"></i></span></a>
                      </dt>
                      <dd>
                        <span click-to-reveal link-text='Show URL...' style="margin-right: 5px;">{{buildConfigName | webhookURL : trigger.type : trigger.github.secret : project.metadata.name}}</span>
                        <copy-to-clipboard-button clipboard-text="buildConfigName | webhookURL : trigger.type : trigger.github.secret : project.metadata.name"></copy-to-clipboard-button>
                      </dd>
                  </div>
                  <div ng-switch-when="generic">
                      <dt>Generic webhook URL
                        <a href="{{'webhooks' | helpLink}}" target="_blank"><span class="learn-more-block">Learn more <i class="fa fa-external-link"></i></span></a>
                      </dt>
                      <dd>
                        <span click-to-reveal link-text='Show URL...' style="margin-right: 5px;">{{buildConfigName | webhookURL : trigger.type : trigger.generic.secret : project.metadata.name}}</span>
                        <copy-to-clipboard-button clipboard-text="buildConfigName | webhookURL : trigger.type : trigger.generic.secret : project.metadata.name"></copy-to-clipboard-button>
                      </dd>
                  </div>
                  <div ng-switch-when="imageChange">
                    <div ng-switch="buildConfig.parameters.strategy.type">
                      <div ng-switch-when="STI">
                        <dl class="dl-horizontal" ng-if="buildConfig.parameters.strategy.stiStrategy.from&& buildConfig.parameters.strategy.stiStrategy.from.kind!='ImageStreamImage'">
                          <dt>
                            New image for:
                          </dt>
                          <dd>
                            Image stream {{buildConfig.parameters.strategy.stiStrategy.from | imageRepoReference : buildConfig.parameters.strategy.stiStrategy.from.kind : buildConfig.parameters.strategy.stiStrategy.Tag}}
                          </dd>
                        </dl>
                      </div>
                      <div ng-switch-when="Docker">
                        <dl class="dl-horizontal" ng-if="buildConfig.parameters.strategy.dockerStrategy.from && buildConfig.parameters.strategy.dockerStrategy.from.kind!='ImageStreamImage'">
                           <dt>
                            New image for:
                          </dt>
                          <dd>
                            Image stream {{buildConfig.parameters.strategy.dockerStrategy.from | imageRepoReference : buildConfig.parameters.strategy.dockerStrategy.from.kind : buildConfig.parameters.strategy.dockerStrategy.Tag}}
                          </dd>
                          <br>
                        </dl>
                      </div>
                      <div ng-switch-when="Custom">
                        <dl class="dl-horizontal" ng-if="buildConfig.parameters.strategy.customStrategy.from && buildConfig.parameters.strategy.customStrategy.from.kind!='ImageStreamImage'">
                          <dt>
                            New image for:
                          </dt>
                          <dd>
                            Image stream {{buildConfig.parameters.strategy.customStrategy.from | imageRepoReference : buildConfig.parameters.strategy.customStrategy.from.kind : buildConfig.parameters.strategy.customStrategy.Tag}}
                          </dd>
                           <br>
                        </dl>
                      </div>                  
                    </div>
                  </div>
                  <div ng-switch-default>{{trigger.type}}</div>
                </div>
              </div>
            </dl>

            <dl class="dl-horizontal left indent">
              <dt>Manual:</dt>
              <dd>
                <span>
                  <button class="btn btn-primary" ng-click="startBuild(buildConfigName)" ng-disabled="(buildConfigBuildsInProgress[buildConfigName] | hashSize) > 0">Start Build</button>
                <span>
              </dd>
            </dl>

            <dl class="dl-horizontal left indent">
              <dt>Manual (CLI):
                <a href="{{'start-build' | helpLink}}" target="_blank">
                  <span class="learn-more-block">Learn more <i class="fa fa-external-link"> </i></span>
                </a>
              </dt>
              <dd>
                <code>osc start-build {{buildConfigName}} -n {{project.metadata.name}}</code>
                <copy-to-clipboard-button clipboard-text="'osc start-build ' + buildConfigName + ' -n ' + project.metadata.name"></copy-to-clipboard-button>
              </dd>

            </dl>
          </div>
        </div>
        <div class="well" style="margin-bottom: 10px;" ng-repeat="build in buildsByBuildConfig[buildConfigName] | orderObjectsByDate : true">
          <h3>{{build.metadata.name}}</h3>
          <div>Created: <relative-timestamp timestamp="build.metadata.creationTimestamp"></relative-timestamp></div>            
          <div>
            <span style="margin-right: 5px;">Status: {{build.status}}</span>
            <span ng-switch="build.status" class="hide-ng-leave">
              <span ng-switch-when="Complete" class="fa fa-check text-success" aria-hidden="true"></span>
              <span ng-switch-when="Failed" class="fa fa-times text-danger" aria-hidden="true"></span>
              <span ng-switch-when="Error" class="fa fa-times text-danger" aria-hidden="true"></span>
              <span ng-switch-when="Cancelled" class="fa fa-ban text-warning" aria-hidden="true"></span>
              <span ng-switch-default class="fa fa-refresh fa-spin" aria-hidden="true"></span>
            </span>
          </div>
          <div>
            <span style="margin-right: 5px;">Duration: </span>
            <span ng-switch="build.status" class="hide-ng-leave">
              <span ng-switch-when="Complete">{{(build.startTimestamp || build.metadata.creationTimestamp) | duration : build.completionTimestamp}}</span>
              <span ng-switch-when="Failed">{{build.startTimestamp | duration : build.completionTimestamp}}</span>
              <span ng-switch-when="Running">running for <duration-until-now timestamp="build.startTimestamp"></duration-until-now></span>
              <span ng-switch-when="New">waiting for <duration-until-now timestamp="build.metadata.creationTimestamp"></duration-until-now></span>
              <span ng-switch-when="Pending">waiting for <duration-until-now timestamp="build.metadata.creationTimestamp"></duration-until-now></span>
              <span ng-switch-default>
                <span ng-if="build.startTimestamp">{{build.startTimestamp | duration : build.completionTimestamp}}</span>
                <span ng-if="!build.startTimestamp">waited for {{build.metadata.creationTimestamp | duration : build.completionTimestamp}}</span>
              </span>
            </span>
          </div>          
          <div ng-if="buildConfig.parameters.strategy.type != build.parameters.strategy.type">
            <div>Build strategy: {{build.parameters.strategy.type}}</div>
          </div>
          <div ng-switch="build.parameters.strategy.type">
            <div ng-switch-when="STI" ng-if="build.parameters.strategy.stiStrategy.image">
              Builder image: {{build.parameters.strategy.stiStrategy.image}}
            </div>
            <div ng-switch-when="Docker">
              <div ng-if="build.parameters.strategy.dockerStrategy.image">
                Builder image: {{build.parameters.strategy.dockerStrategy.image}}
              </div>
            </div>
            <div ng-switch-when="Custom" ng-if="build.parameters.strategy.customStrategy.image">
              Builder image: {{build.parameters.strategy.customStrategy.image}}
            </div>
          </div>          
          <div ng-if="build.parameters.source">
            <div ng-if="build.parameters.source.type == 'Git'">
              <div ng-if="buildConfig.parameters.source.git.uri != build.parameters.source.git.uri">
                Source repo: <span ng-bind-html='build.parameters.source.git.uri | githubLink | linky'></span>
              </div>
            </div>
            <!-- TODO add git ref details -->
          </div>
          <div ng-if="build.parameters.output">
            <div ng-if="buildConfig.parameters.output.to.kind != build.parameters.output.to.kind && buildConfig.parameters.output.to.name != build.parameters.output.to.name">
              <div ng-switch="build.parameters.output.to.kind">
                <div ng-switch-when="ImageRepository">
                  Output image: {{buildConfig.parameters.output.to.name}}
                </div>
              </div>             
            </div>
            <div ng-if="!build.parameters.output.to && build.parameters.output.dockerImageReference && buildConfig.parameters.output.dockerImageReference != build.parameters.output.dockerImageReference">
              Output image: {{build.parameters.output.dockerImageReference}}
            </div>            
          </div>
          <div>
            <button class="btn btn-default icon-restart" ng-click="cloneBuild(build.metadata.name)" ng-disabled="(buildConfigBuildsInProgress[buildConfigName] | hashSize) > 0">Rebuild</button>
          </div>
        </div>
      </div>
    </div>
      <!-- render any builds whose build configs no longer exist -->
      <div class="tile" ng-repeat="(buildConfigName, blds) in buildsByBuildConfig" ng-if="!buildConfigs[buildConfigName]">
        <h2 ng-if="buildConfigName != ''">
          {{buildConfigName}}
          <span class="pficon-layered" data-toggle="tooltip" data-placement="right" title="This build config no longer exists" style="cursor: help;">
            <span class="pficon pficon-warning-triangle"></span>
            <span class="pficon pficon-warning-exclamation"></span>
          </span>            
        </h2>
        <div class="well" ng-repeat="build in blds | orderObjectsByDate : true">
          <h3>{{build.metadata.name}}</h3>
          <div>Created: <relative-timestamp timestamp="build.metadata.creationTimestamp"></relative-timestamp></div>            
          <div>
            <span style="margin-right: 5px;">Status: {{build.status}}</span>          
            <span ng-switch="build.status" class="hide-ng-leave">
              <span ng-switch-when="Complete" class="fa fa-check text-success" aria-hidden="true"></span>
              <span ng-switch-when="Failed" class="fa fa-times text-danger" aria-hidden="true"></span>
              <span ng-switch-default class="fa fa-refresh fa-spin" aria-hidden="true"></span>
            </span>
          </div>
          <div>
            <span style="margin-right: 5px;">Duration: </span>
            <span ng-switch="build.status" class="hide-ng-leave">
              <span ng-switch-when="Complete">{{(build.startTimestamp || build.metadata.creationTimestamp) | duration : build.completionTimestamp}}</span>
              <span ng-switch-when="Failed">{{build.startTimestamp | duration : build.completionTimestamp}}</span>
              <span ng-switch-when="Running">running for <duration-until-now timestamp="build.startTimestamp"></duration-until-now></span>
              <span ng-switch-when="New">waiting for <duration-until-now timestamp="build.metadata.creationTimestamp"></duration-until-now></span>
              <span ng-switch-when="Pending">waiting for <duration-until-now timestamp="build.metadata.creationTimestamp"></duration-until-now></span>
              <span ng-switch-default>
                <span ng-if="build.startTimestamp">{{build.startTimestamp | duration : build.completionTimestamp}}</span>
                <span ng-if="!build.startTimestamp">waited for {{build.metadata.creationTimestamp | duration : build.completionTimestamp}}</span>
              </span>
            </span>
          </div>          
          <div>Build strategy: {{build.parameters.strategy.type}}</div>
          <div ng-switch="build.parameters.strategy.type">
            <div ng-switch-when="STI">
              Builder image: {{build.parameters.strategy.stiStrategy.image}}
            </div>
            <div ng-switch-when="Docker">
              <div ng-if="build.parameters.strategy.dockerStrategy.image">
                Builder image: {{build.parameters.strategy.dockerStrategy.image}}
              </div>
            </div>
            <div ng-switch-when="Custom">
              Builder image: {{build.parameters.strategy.customStrategy.image}}
            </div>
          </div>
          <div ng-if="build.parameters.source">
            <div ng-if="build.parameters.source.type == 'Git'">
              Source repo: <span ng-bind-html='build.parameters.source.git.uri | githubLink | linky'></span>
            </div>
            <!-- TODO add git ref details -->
          </div>
          <div ng-if="build.parameters.output">
            <div ng-switch="build.parameters.output.to.kind">
              <div ng-switch-when="ImageRepository">
                Output image: {{build.parameters.output.to.name}}
              </div>
            </div>
            <div ng-if="!build.parameters.output.to && build.parameters.output.dockerImageReference">
              Output image: {{build.parameters.output.dockerImageReference}}
            </div>            
          </div>
        </div>
      </div>      
    </div>
  </project-page>
</div>
