<div ng-controller="ProjectController">
  <div ng-controller="CatalogController">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- TODO we don't need a breadcrumb yet
           <ol class="breadcrumb">
            <li><a href="#">Create</a></li>
            <li>Step 2</li>
          </ol> -->
          <h1>Select a template</h1>
        </div>
      </div>
      <div ng-if="!templates.length">There are no templates to select from.  To add a template to your project run <code>osc create -f &lt;template_file&gt; -n {{projectName}}</code></div>
      <div ng-if="templatesByTag['instant-app'].length">
        <h2>Instant apps</h2>
        <div class="row">
          <catalog-template template="template" project="projectName" ng-repeat="template in templatesByTag['instant-app'] | orderBy : 'metadata.name'"></catalog-template>
        </div>
      </div>
      <div ng-if="templates.length">
        <h2>All templates</h2>
        <div class="row">
          <catalog-template template="template" project="projectName" ng-repeat="template in templates | orderBy : 'metadata.name'"></catalog-template>
        </div>
      </div>
    </div>
  </div>
</div>
