<div ng-controller="ProjectController">
  <div ng-controller="CreateController">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="{{projectName | projectOverviewURL}}">{{(project | displayName) || projectName}}</a></li>
        <li class="active"><strong>Create</strong></li>
      </ol>
      <div class="row">
        <div class="col-md-12">
          <h1>Create</h1>
          <form name="from_source_form" class="form-inline gutter-bottom">
            <h2>Using Your Code</h2>
            <p>Create your application from a Git source code repository.</p>
            <div class="row">
              <div class="col-md-8">
                <div class="input-group">
                  <span ng-class="{'has-warning': from_source_form.from_source_url.$dirty && !sourceURLPattern.test(from_source_url)}">
                    <input class="form-control input-lg"
                      name="from_source_url"
                      placeholder="Repository URL"
                      type="text"
                      required
                      aria-describedby="from_source_help"
                      ng-model="from_source_url">
                  </span>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-lg btn-default" ng-click="createFromSource()"
                      ng-disabled="from_source_form.$invalid" value="">Next</button>
                  </span>
                </div>
                <div id="from_source_help" class="help-block">For example,
                  <a href="#" ng-click="from_source_url = 'https://github.com/openshift/nodejs-ex'"
                    >https://github.com/openshift/nodejs-ex</a></div>
                <span class="text-warning" ng-if="from_source_form.from_source_url.$dirty && !sourceURLPattern.test(from_source_url)">Source repository should be a URL</span>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-md-12">
              <h2>Using a Template</h2>
              <p>Templates have predefined resources for quickly creating components. You can customize some options in the next step.</p>
              <h3>Instant Apps</h3>
              <div class="row">
                <catalog-template template="template" project="projectName" ng-repeat="template in templatesByTag['instant-app'] | orderBy : 'metadata.name'"></catalog-template>
                <div class="col-md-4">
                  <div ng-if="!templatesByTag['instant-app'].length">
                    <em>There are no instant apps available to create.</em>
                  </div>
                  <a class="btn btn-lg btn-primary btn-block" href="project/{{projectName}}/catalog/templates">Browse all templates...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
