<div ng-controller="ProjectController">
  <div ng-controller="CreateController" class="add-to-project">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="{{projectName | projectOverviewURL}}">{{(project | displayName) || projectName}}</a></li>
        <li class="active"><strong>Add to Project</strong></li>
      </ol>
      <div class="row">
        <div class="col-md-12">
          <h1><i class="fa fa-code"></i> Create Using Your Code</h1>
          <form name="from_source_form" class="form-inline gutter-bottom">
            <p>Create your application from a Git source code repository. Optionally specify a branch, tag, or commit ID with #ref.</p>
            <div class="row">
              <div class="col-md-8">
                <div class="input-group">
                  <span ng-class="{'has-warning': from_source_form.from_source_url.$dirty && !sourceURLPattern.test(from_source_url)}">
                    <input class="form-control input-lg"
                      name="from_source_url"
                      placeholder="Repository URL"
                      type="text"
                      required
                      aria-describedby="from_source_help"
                      ng-model="from_source_url">
                  </span>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-lg btn-default" ng-click="createFromSource()"
                      ng-disabled="from_source_form.$invalid" value="">Next</button>
                  </span>
                </div>
                <div id="from_source_help" class="help-block">For example, https://github.com/openshift/nodejs-ex#master
                  <a href="#" ng-click="from_source_url = 'https://github.com/openshift/nodejs-ex#master'"
                    style="margin-left: 3px;">Try it out!<i class="fa fa-level-up" style="margin-left: 3px; font-size: 17px;"></i></a></div>
                <span class="text-warning" ng-if="from_source_form.from_source_url.$dirty && !sourceURLPattern.test(from_source_url)">Source repository should be a URL</span>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-md-12">
              <div class="separator"></div>
              <h1><i class="fa fa-bolt"></i> Create Using a Template</h1>
              <alerts alerts="alerts"></alerts>
              <p>Templates have predefined resources for quickly creating components. You can customize some options in the next step.</p>
              <upload-button alerts="alerts" resource-type="template" refresh="refresh"></upload-button>
              <h3>Instant Apps</h3>
              <div ng-if="!templatesLoaded && (instantApps | hashSize) === 0">Loading...</div>
              <div ng-if="templatesLoaded && (instantApps | hashSize) === 0">
                <em>There are no instant apps available.</em>
              </div>
              <div class="catalog">
                <catalog-template
                    template="template"
                    project="projectName"
                    ng-repeat="template in instantApps | toArray | orderBy : ['metadata.name', 'metadata.namespace']">
                </catalog-template>
              </div>
              <div ng-show="!showAllTemplates && (otherTemplates | hashSize) !== 0" class="show-all-button-container gutter-bottom">
                <a ng-click="showAllTemplates = true" class="btn btn-lg btn-primary">Show All Templates</a>
              </div>
              <div ng-show="showAllTemplates">
                <h3>Other Templates</h3>
                <div class="catalog">
                  <catalog-template
                      template="template"
                      project="projectName"
                      ng-repeat="template in otherTemplates | toArray | orderBy : ['metadata.name', 'metadata.namespace']">
                  </catalog-template>
                </div>
              </div>
              <div class="gutter-bottom">
                To load additional templates into this project, run the command
                <code>oc create -f &lt;template-filename&gt; -n {{projectName}}</code>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
