<div ng-controller="ProjectController" class="content">
  <project-page>
    <div ng-controller="DeploymentsController">
      <div class="page-header page-header-bleed-right">
        <h1>Deployments</h1>
      </div>
      <alerts alerts="alerts"></alerts>
      <div ng-if="(deployments | hashSize) == 0">
        <div>
          <em>{{emptyMessage}}</em>
        </div>
      </div>      
      <div style="margin-bottom: 10px;" ng-repeat="deployment in deployments">
        <h3>{{deployment | annotation:'deploymentConfig'}} <span class="small">({{deployment.metadata.name}})</span></h3>
        <div>Created: <relative-timestamp timestamp="deployment.metadata.creationTimestamp"></relative-timestamp></div>
        <div>Status: {{deployment | annotation:'deploymentStatus'}}</div>
        <div>Version: {{deployment | annotation:'deploymentVersion'}}</div>
        <div>Replicas: {{deployment.spec.replicas}}</div>
        <pod-template ng-init="podTemplate = deployment.spec.template"></pod-template>
      </div>      
    </div>
  </project-page>
</div>
