<div ng-controller="ProjectController" class="content">
  <project-page>
    <div ng-controller="ImagesController">
      <div class="page-header page-header-bleed-right">
        <h1>Image Streams</h1>
      </div>
      <alerts alerts="alerts"></alerts>
      <div ng-if="(imageStreams | hashSize) == 0">
        <div>
          <em>{{emptyMessage}}</em>
        </div>
      </div>
      <div ng-repeat="imageStream in imageStreams">
        <div class="tile" ng-repeat="tag in imageStream.status.tags">
          <div>
            <span>{{imageStream.metadata.name}}:{{tag.tag}}</span>
            <span ng-if="!tag.items.length"> &mdash; <em>No images for this tag</em></span>
            <span ng-if="tag.items.length && tag.items[0].image">
              <span> &mdash; </span>
              <short-id id="{{tag.items[0].image | imageName}}"></short-id>
              <span> created </span>
              <relative-timestamp timestamp="tag.items[0].created"></relative-timestamp>
            </span>
          </div>
          <div class="muted small">
            <div ng-if="imageStream.spec.dockerImageRepository">From Docker repository: {{imageStream.spec.dockerImageRepository}}:{{tag.tag}}</div>
            <div ng-if="imageStream.spec.tags">
              <div ng-repeat="specTag in imageStream.spec.tags" ng-if="specTag.name == tag.tag">
                <div ng-if="specTag.dockerImageReference">From Docker repository: {{specTag.dockerImageReference}}</div>
                <div ng-if="specTag.from">From image stream: {{specTag.from.namespace}}/{{specTag.from.name}}</div>
              </div>
            </div>
          </div>
          <div ng-if="tag.items.length > 1">
            <div click-to-reveal link-text="Show older images">
              <div ng-repeat="image in tag.items" ng-if="$index != 0">
                <short-id ng-if="image.image" id="{{image.image | imageName}}"></short-id>
                <span ng-if="!image.image">{{image.dockerImageReference}}</span>
                <span> created </span>
                <relative-timestamp timestamp="image.created"></relative-timestamp>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </project-page>
</div>
