<div ng-controller="ProjectController" class="content">
  <project-page>
    <div ng-controller="ImagesController">
      <h1>Images</h1>
      <alerts alerts="alerts"></alerts>      
      <div ng-if="(images | hashSize) == 0">
        <div>
          <em>{{emptyMessage}}</em>
        </div>
      </div>      
      <div style="margin-bottom: 10px;" ng-repeat="image in images">
        <h3>{{image.dockerImageReference | imageName}} <span class="small">({{image.metadata.name}})</span></h3>
        <div>Created: <relative-timestamp timestamp="image.metadata.creationTimestamp"></relative-timestamp></div>
        <div ng-if="build = (image | buildForImage : builds)">Created from: Build {{build.metadata.labels.buildconfig}} (<a href="/project/{{projectName}}/browse/builds" class="small" title="{{build.metadata.name}}">{{build.metadata.name.substr(0, 10)}}</a>)
      </div>      
    </div>
  </project-page>
</div>
