<div class="simple-controller">

  <div class="row-fluid">
    <div class="span6 offset3">
      <h2>OpenShift 3.x Demo</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 offset3">
      <h3>Pod: {{pod.id}}</h3>
      <ul>
        <li ng-repeat="container in pod.desiredState.manifest.containers">
        {{container.image}} - ports: <span ng-repeat="port in container.ports">{{port.hostPort}}:{{port.containerPort}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
