<div>
  <div>
    <h1 style="margin-top: 10px;">Projects</h1>
    <div ng-if="$.isEmpty(projects)">
      You have no projects. For an example run <code>openshift kubectl create -f examples/hello-openshift/hello-project.json</code>
    </div>
    <div class="tile tile-click" ng-click="tileClickHandler($event)" style="margin-bottom: 10px;" ng-repeat="project in projects">
      <h3><a class="tile-target" href="/project/{{project.metadata.name}}">{{project.displayName || project.metadata.name}}</a></h3>
      <div class="muted" style="margin-top: -5px;" ng-if="project | annotation : 'description'">{{project | annotation : 'description'}}</div>
    </div>
  </div>
</div>
