<div ng-controller="ProjectController" class="content">
  <project-page>
    <div ng-controller="OverviewController">
      <tasks></tasks>
      <h1>Project {{project.displayName || project.metadata.name}}</h1>
      <div class="small muted" style="margin-top: -5px; margin-bottom: 20px" ng-if="project | description">{{project | description}}</div>
      <!-- TODO handle things that don't live under services -->
      <alerts alerts="alerts"></alerts>
      <div ng-if="(services | hashSize) == 0">
        <div>
          <em>{{emptyMessage}}</em>
        </div>
      </div>      
      <!-- TODO handle multiple services mapping to the same deploymentConfig/deployment/pod -->
      <section ng-repeat="(serviceId, service) in services">
        <div class="row">
          <div class="col-md-12">
            <div class="tile">
              <h2 class="service" ng-init="numPorts = service.spec.ports.length">{{serviceId}}
                <span class="small"> - routing traffic on {{service.spec.portalIP}} -</span>
                <span class="small" ng-repeat="portMapping in service.spec.ports | orderBy:port | limitTo:2">
                  port {{portMapping.port}} &#8594; {{portMapping.targetPort}} ({{portMapping.protocol}})<span ng-if="$index < (numPorts - 1)">, </span>
                </span>
                <span class="small" ng-if="numPorts > 2" ng-init="numRemaining = numPorts - 2">
                  and {{numRemaining}} {{numRemaining == 1 ? "other" : "others"}}
                </span>
                <span class="connector connector-vertical" style="left: 50%; top: 31px; height: 21px;">
                  <span class="connector-endpoint connector-endpoint-top"></span>
                  <span class="connector-line" style="height: 21px;"></span>
                  <span class="connector-endpoint" style="top: 18px; "></span>
                </span>
              </h2>
              <div class="separator"></div>
              <!-- Iterate over deployment configs for this service and look for ones that don't have any deployments for this
                   service, these are likely new so incoming builds are likely, so lets show these now.
               -->
              <div ng-repeat="(deploymentConfigId, deploymentConfig) in deploymentConfigsByService[serviceId]" ng-if="!deploymentsByServiceByDeploymentConfig[serviceId][deploymentConfigId]">
                <!-- As long as pods created from the deployments created from this deployment config will be routed
                     to by this service, then we will show things related to triggers that are about to create stuff, like builds.
                -->                
                <triggers triggers="deploymentConfig.triggers"></triggers>                
              </div>
              <!-- Now go through all deployments for this service grouped by deployment config (or lack thereof) -->
              <div ng-repeat="(deploymentConfigId, deployments) in deploymentsByServiceByDeploymentConfig[serviceId]">
                <!-- deploymentConfig could be null when we have any deployments that were not generated from a deploymentConfig -->
                <!-- As long as pods created from the deployments created from this deployment config will be routed
                     to by this service, then we will show things related to triggers that are about to create stuff, like builds.
                -->
                <div ng-if="deploymentConfigsByService[serviceId][deploymentConfigId]">
                  <triggers triggers="deploymentConfigsByService[serviceId][deploymentConfigId].triggers"></triggers>
                </div>
                <deployment-config-metadata
                  deployment-config-id="deploymentConfigId"
                  exists="deploymentConfigs[deploymentConfigId]"
                  different-service="!deploymentConfigsByService[serviceId][deploymentConfigId]">
                </deployment-config-metadata>
                <div ng-repeat="deployment in deployments | orderObjectsByDate : true" style="margin-top: 10px; text-align: center;">
                  <!-- TODO right now we ONLY show deployments / RCs if they have pods, but we may also want to show 
                       them if they are idled down to zero for example.
                  -->
                  <div ng-if="(podsByDeployment[deployment.metadata.name] | hashSize) > 0">
                    <div class="small muted" ng-if="deployment" style="margin-bottom: 10px;">
                      <relative-timestamp timestamp="deployment.metadata.creationTimestamp"></relative-timestamp>
                      <span ng-if="deployment.details && deployment.details.causes && deployment.details.causes.length > 0">
                        <span>, triggered by 
                          <span class="deployment-trigger" ng-repeat="cause in deployment.details.causes">
                            <span ng-switch="cause.type">
                              <span ng-switch-when="ImageChange">new image for {{cause.imageTrigger.repositoryName | imageStreamName}}:{{cause.imageTrigger.tag}}</span>
                              <span ng-switch-when="ConfigChange">deployment configuration change</span>
                            </span>
                          </span>
                        </span>
                      </span>
                    </div>
                    <div style="display: inline-block;">
                      <!-- TODO figure out why podTemplate can't be done the same way as pods -->
                      <pod-template ng-init="podTemplate = deployment.spec.template"></pod-template>
                      <pods pods="podsByDeployment[deployment.metadata.name]"></pods>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Now go through any of the pods that are routed to by the service but not part of a deployment -->
              <div ng-repeat="(podName, pod) in monopodsByService[serviceId]">
                <div class="ng-scope" style="margin-top: 10px; text-align: center;">
                  <div class="small muted" style="margin-bottom: 10px;">
                    <relative-timestamp timestamp="pod.metadata.creationTimestamp"></relative-timestamp>
                  </div>                
                  <div style="display: inline-block;">
                    <pod-template ng-init="podTemplate = pod"></pod-template>
                    <pods pods="[pod]"></pods>
                  </div>
                </div>
              </div>

              <!-- TODO implement filters for empty and present to return booleans for cases like this -->
              <div ng-if="(podsByService[serviceId] | hashSize) == 0" style="margin-top: 10px;">
                <span style="margin-left: 20px;">There are currently no pods for this service.</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- TODO right now we ONLY show deployments / RCs if they have pods, but we may also want to show 
           them if they are idled down to zero for example.
      -->
      <section ng-repeat="(deploymentConfigId, deployments) in deploymentsByServiceByDeploymentConfig['']">        
        <div ng-repeat="(deploymentId, deployment) in deploymentsByServiceByDeploymentConfig[''][deploymentConfigId]" ng-if="(podsByDeployment[deployment.metadata.name] | hashSize) > 0">
          <div class="row">
            <div class="col-md-12">
              <div class="tile">
                <h2 class="service">
                  <span ng-if="(deployments | hashSize) > 1"><em>There is no service for these deployments.</em></span>
                  <span ng-if="(deployments | hashSize) == 1"><em>There is no service for this deployment.</em></span>
                </h2>      
                <div class="separator"></div>
                <!-- As long as pods created from the deployments created from this deployment config will not be routed
                     to by any service, then we will show things related to triggers that are about to create stuff, like builds.
                     If things created from the deployment config in its current state would be routed to be a service
                     then any trigger details would be showing up under the service instead.
                -->
                <div ng-if="deploymentConfigs[deploymentConfigId] && deploymentConfigsByService[''][deploymentConfigId]">
                  <triggers triggers="deploymentConfigs[deploymentConfigId].triggers"></triggers>
                </div>                
                <deployment-config-metadata
                  deployment-config-id="deploymentConfigId"
                  exists="deploymentConfigs[deploymentConfigId]"
                  different-service="!deploymentConfigsByService[''][deploymentConfigId]">
                </deployment-config-metadata>                
                <div class="ng-scope" style="margin-top: 10px; text-align: center;">
                  <div class="small muted" style="margin-bottom: 10px;">
                    <relative-timestamp timestamp="deployment.metadata.creationTimestamp"></relative-timestamp>
                    <span ng-if="deployment.details && deployment.details.causes && deployment.details.causes.length > 0">
                      <span>, triggered by 
                        <span ng-repeat="cause in deployment.details.causes">
                          <span ng-switch="cause.type">
                            <span ng-switch-when="ImageChange">new image for {{cause.imageTrigger.repositoryName | imageStreamName}}:{{cause.imageTrigger.tag}}</span>
                            <span ng-switch-when="ConfigChange">deployment configuration change</span>
                          </span>
                        </span>
                      </span>
                    </span>                    
                  </div>                
                  <div style="display: inline-block;">
                    <pod-template ng-init="podTemplate = deployment.spec.template"></pod-template>
                    <pods pods="podsByDeployment[deployment.metadata.name]"></pods>
                  </div>
                </div>        
              </div>
            </div>
          </div>      
        </div>
      </section>
      <section ng-repeat="(podName, pod) in monopodsByService['']">
        <div class="row">
          <div class="col-md-12">
            <div class="tile">
              <h2 class="service">
                <em>There is no service for this pod.</em>
              </h2>      
              <div class="separator"></div>
              <div class="ng-scope" style="margin-top: 10px; text-align: center;">
                <div class="small muted" style="margin-bottom: 10px;">
                  <relative-timestamp timestamp="pod.metadata.creationTimestamp"></relative-timestamp>
                </div>                
                <div style="display: inline-block;">
                  <pod-template ng-init="podTemplate = pod"></pod-template>
                  <pods pods="[pod]"></pods>
                </div>
              </div>        
            </div>
          </div>
        </div>
      </section>      
    </div>
  </project-page>
</div>
