<div ng-controller="ProjectController" class="content">
  <project-page>
    <div ng-controller="ServicesController">
      <div class="page-header page-header-bleed-right">
        <h1>Services</h1>
      </div>
      <alerts alerts="alerts"></alerts>
      <div ng-if="(services | hashSize) == 0">
        <div>
          <em>{{emptyMessage}}</em>
        </div>
      </div>
      <div ng-repeat="service in services" class="tile">
        <h3 id="service-{{service.metadata.name}}">{{service.metadata.name}}</h3>
        <div>Created: <relative-timestamp timestamp="service.metadata.creationTimestamp"></relative-timestamp></div>
        <div>IP:
          <span ng-if="service.spec.clusterIP == 'None'"><em>none</em></span>
          <span ng-if="service.spec.clusterIP != 'None'">{{service.spec.clusterIP}}</span>
        </div>
        <div>Ports:
          <span ng-if="!service.spec.ports.length"><em>none</em></span>
          <ul ng-if="service.spec.ports.length">
            <li ng-repeat="portMapping in service.spec.ports | orderBy:'port'">
              {{portMapping.port}} &#8594; {{portMapping.targetPort}} ({{portMapping.protocol}})
            </li>
          </ul>
        </div>
        <div>Selectors: <span ng-if="!service.spec.selector"><em>none</em></span>
            <span ng-repeat="(selectorLabel, selectorValue) in service.spec.selector"> {{selectorLabel}}={{selectorValue}}<span ng-show="!$last">, </span></span>
        </div>
        <div>Routes: <span ng-if="(routesByService[service.metadata.name] | hashSize) == 0"><em>none</em></span>
            <span ng-repeat="(routeName, route) in routesByService[service.metadata.name]">
                <span ng-if="route | isWebRoute"><a href="{{route | routeWebURL}}">{{route | routeLabel}}</a></span>
                <span ng-if="!(route | isWebRoute)">{{route | routeLabel}}</span>
                <span ng-show="!$last">, </span>
            </span>
        </div>
      </div>

      <div ng-if="routesByService['']" style="margin-bottom: 10px;">
        <h3>No Service</h3>
        <div>Routes: <span ng-repeat="(routeName, route) in routesByService['']">{{route.host}}<span ng-show="!$last">, </span></span></div>
      </div>
    </div>
  </project-page>
</div>
