<div class="content">
  <project-page>
    <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
    <alerts alerts="alerts"></alerts>
    <div ng-if="!loaded">Loading...</div>
    <div class="tile" ng-if="buildConfig">
      <div>
        <h1>
          {{buildConfig.metadata.name}}
          <div class="pull-right dropdown">
            <!-- Primary Actions -->
            <button
                class="btn btn-default hidden-xs"
                ng-click="startBuild()"
                ng-disabled="!canBuild()">
              Start Build
            </button>

            <!-- Secondary Actions -->
            <a href="" class="dropdown-toggle resource-actions-dropdown" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i><span class="sr-only">Actions</span></a>
            <ul class="dropdown-menu actions action-button">
              <li class="visible-xs-inline" ng-class="{ disabled: !canBuild() }">
                <a href=""
                  role="button"
                  ng-attr-aria-disabled="{{canBuild() ? undefined : 'true'}}"
                  ng-class="{ 'disabled-link': !canBuild() }"
                  ng-click="startBuild()"
                ><i class="fa fa-play fa-fw" aria-hidden="true"></i> Start Build</a>
              </li>
              <li>
                <edit-link
                  resource="buildConfig"
                  kind="buildconfigs"
                  alerts="alerts">
                </edit-link>
              </li>
              <li>
                <delete-link
                  resource-type="buildconfig"
                  resource-name="{{buildConfig.metadata.name}}"
                  project-name="{{buildConfig.metadata.namespace}}"
                  alerts="alerts">
                </delete-link>
              </li>
            </ul>
          </div>
          <small class="meta">created <relative-timestamp timestamp="buildConfig.metadata.creationTimestamp"></relative-timestamp></small>
        </h1>
        <labels labels="buildConfig.metadata.labels" clickable="true" kind="builds" title-kind="build configs" project-name="{{buildConfig.metadata.namespace}}" limit="3"></labels>
        <uib-tabset>
          <uib-tab>
            <uib-tab-heading>Summary</uib-tab-heading>

            <!-- If unfilteredBuilds is undefined, the builds are still loading. -->
            <div ng-if="!unfilteredBuilds" class="gutter-bottom">Loading...</div>

            <!-- Show an empty state message when there are no builds. -->
            <div ng-if="unfilteredBuilds && (unfilteredBuilds | hashSize) === 0" class="empty-state-message text-center">
              <h2>No builds.</h2>

              <p>
                Start a new build to create an image from
                <span ng-if="buildConfig.spec.source.type === 'Git'">
                  source repository
                  <span ng-bind-html='buildConfig.spec.source.git.uri | githubLink : buildConfig.spec.source.git.ref : buildConfig.spec.source.contextDir | linky'></span>
                </span>
                <span ng-if="buildConfig.spec.source.type !== 'Git'">
                  build configuration {{buildConfig.metadata.name}}.
                </span>
              </p>

              <button class="btn btn-primary btn-lg" ng-click="startBuild(buildConfig.metadata.name)">
                Start Build
              </button>
            </div>

            <!-- A filter is hiding all builds (and a message is already displayed above saying that).
                 Show a simple "No builds." message rather than the full empty state message. -->
            <div ng-if="(unfilteredBuilds | hashSize) > 0 && (builds | hashSize) === 0">
              No builds.
            </div>

            <!-- Show the latest build and a chart of the recent build duration and status. -->
            <div ng-if="builds && (builds | hashSize) > 0" class="build-config-summary">
              <!-- Show the latest build status first. -->
              <div class="h3" style="margin-bottom: 0;">
                <span class="latest-build-status">
                  <status-icon status="latestBuild.status.phase" style="margin-right: 5px;"></status-icon>
                  Latest build
                  <!-- Line break comments to prevent whitespace from being underlined on link hover. -->
                  <a ng-href="{{latestBuild | navigateResourceURL}}"><!--
                    --><span ng-if="latestBuild | annotation : 'buildNumber'">#{{latestBuild | annotation : 'buildNumber'}}</span><!--
                    --><span ng-if="!(latestBuild | annotation : 'buildNumber')">{{latestBuild.metadata.name}}</span><!--
                  --></a>
                  <span ng-switch="latestBuild.status.phase" class="hide-ng-leave">
                    <span ng-switch-when="Complete">complete.</span>
                    <span ng-switch-when="Failed">failed.</span>
                    <span ng-switch-when="Error">encountered an error.</span>
                    <span ng-switch-when="Cancelled">was cancelled.</span>
                    <span ng-switch-default>is {{latestBuild.status.phase | lowercase}}.</span>
                  </span>
                </span>
                <a ng-href="{{latestBuild | navigateResourceURL}}?tab=logs">View Log</a>
              </div>
              <div class="latest-build-timestamp meta text-muted">
                started <relative-timestamp timestamp="latestBuild.status.startTimestamp || latestBuild.metadata.creationTimestamp"></relative-timestamp>
              </div>

              <build-trends-chart builds="builds"></build-trends-chart>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading>Configuration</uib-tab-heading>
              <div class="resource-details">
                <div class="row">
                  <div class="col-lg-6">
                    <h3>Configuration</h3>
                    <dl class="dl-horizontal left">
                      <div>
                        <dt>Build strategy:</dt>
                        <dd>{{buildConfig.spec.strategy.type}}</dd>
                      </div>
                      <div ng-switch="buildConfig.spec.strategy.type">
                        <div ng-switch-when="Source">
                          <div ng-if="buildConfig.spec.strategy.sourceStrategy.from">
                            <dt>Builder image:</dt>
                            <dd>{{buildConfig.spec.strategy.sourceStrategy.from | imageObjectRef : buildConfig.metadata.namespace}}</dd>
                          </div>
                        </div>
                        <div ng-switch-when="Docker">
                          <div ng-if="buildConfig.spec.strategy.dockerStrategy.from">
                            <dt>Builder image stream:</dt>
                            <dd>{{buildConfig.spec.strategy.dockerStrategy.from | imageObjectRef : buildConfig.metadata.namespace}}</dd>
                          </div>
                        </div>
                        <div ng-switch-when="Custom">
                          <div ng-if="buildConfig.spec.strategy.customStrategy.from">
                            <dt>Builder image stream:</dt>
                            <dd>{{buildConfig.spec.strategy.customStrategy.from | imageObjectRef : buildConfig.metadata.namespace}}
                            </dd>
                          </div>
                        </div>
                      </div>
                      <div ng-if="buildConfig.spec.source">
                        <div ng-if="buildConfig.spec.source.type == 'Git'">
                          <dt>Source repo:</dt>
                          <dd ng-bind-html='buildConfig.spec.source.git.uri | githubLink : buildConfig.spec.source.git.ref : buildConfig.spec.source.contextDir | linky'></dd>
                          <dt ng-if="buildConfig.spec.source.git.ref">Source ref:</dt>
                          <dd ng-if="buildConfig.spec.source.git.ref">{{buildConfig.spec.source.git.ref}}</dd>
                          <dt ng-if="buildConfig.spec.source.contextDir">Source context dir:</dt>
                          <dd ng-if="buildConfig.spec.source.contextDir">{{buildConfig.spec.source.contextDir}}</dd>
                        </div>
                      </div>
                      <div ng-if="buildConfig.spec.output.to">
                        <dt>Output to:</dt>
                        <dd>{{buildConfig.spec.output.to | imageObjectRef : buildConfig.metadata.namespace}}</dd>
                      </div>
                    </dl>
                    <div ng-if="(buildConfig | buildStrategy).env">
                      <h3>Environment Variables</h3>
                      <dl class="dl-horizontal left">
                        <dt ng-repeat-start="envVar in (buildConfig | buildStrategy).env">{{envVar.name}}:</dt>
                        <dd ng-repeat-end>{{envVar.value}}</dd>
                      </dl>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <h3>Triggers</h3>
                    <dl class="dl-horizontal left">
                    <div ng-repeat="trigger in buildConfig.spec.triggers">
                      <div ng-switch="trigger.type">
                        <div ng-switch-when="GitHub">
                            <dt>GitHub webhook URL:
                              <a href="{{'webhooks' | helpLink}}" target="_blank"><span class="learn-more-block">Learn more
                              <i class="fa fa-external-link"></i></span></a>
                            </dt>
                            <dd>
                              <span click-to-reveal link-text='Show URL' style="margin-right: 5px;">{{buildConfig.metadata.name | webhookURL : trigger.type : trigger.github.secret : project.metadata.name}}</span>
                              <copy-to-clipboard-button clipboard-text="buildConfig.metadata.name | webhookURL : trigger.type : trigger.github.secret : project.metadata.name"></copy-to-clipboard-button>
                            </dd>
                        </div>
                        <div ng-switch-when="Generic">
                            <dt>Generic webhook URL:
                              <a href="{{'webhooks' | helpLink}}" target="_blank"><span class="learn-more-block">Learn more <i class="fa fa-external-link"></i></span></a>
                            </dt>
                            <dd>
                              <span click-to-reveal link-text='Show URL' style="margin-right: 5px;">{{buildConfig.metadata.name | webhookURL : trigger.type : trigger.generic.secret : project.metadata.name}}</span>
                              <copy-to-clipboard-button clipboard-text="buildConfig.metadata.name | webhookURL : trigger.type : trigger.generic.secret : project.metadata.name"></copy-to-clipboard-button>
                            </dd>
                        </div>
                        <div ng-switch-when="ImageChange">
                          <div ng-switch="buildConfig.spec.strategy.type">
                            <div ng-switch-when="Source" ng-if="buildConfig.spec.strategy.sourceStrategy.from && buildConfig.spec.strategy.sourceStrategy.from.kind!='ImageStreamImage'">
                              <dt>
                                New image for:
                              </dt>
                              <dd>
                                Image stream {{buildConfig.spec.strategy.sourceStrategy.from | imageObjectRef : buildConfig.metadata.namespace}}
                              </dd>
                            </div>
                            <div ng-switch-when="Docker" ng-if="buildConfig.spec.strategy.dockerStrategy.from && buildConfig.spec.strategy.dockerStrategy.from.kind!='ImageStreamImage'">
                              <dt>
                                New image for:
                              </dt>
                              <dd>
                                Image stream {{buildConfig.spec.strategy.dockerStrategy.from | imageObjectRef : buildConfig.metadata.namespace}}
                              </dd>
                            </div>
                            <div ng-switch-when="Custom" ng-if="buildConfig.spec.strategy.customStrategy.from && buildConfig.spec.strategy.customStrategy.from.kind!='ImageStreamImage'">
                              <dt>
                                New image for:
                              </dt>
                              <dd>
                                Image stream {{buildConfig.spec.strategy.customStrategy.from | imageObjectRef : buildConfig.metadata.namespace}}
                              </dd>
                            </div>
                          </div>
                        </div>
                        <div ng-switch-when="ConfigChange">
                          <dt>Config change for:</dt>
                          <dd>Build config {{buildConfig.metadata.name}}</dd>
                        </div>
                        <div ng-switch-default>
                          <dt>Other trigger:</dt>
                          <dd>{{trigger.type}}</dd>
                        </div>
                      </div>
                    </div>
                    <dt>Manual (CLI):
                      <a href="{{'start-build' | helpLink}}" target="_blank">
                        <span class="learn-more-block">Learn more <i class="fa fa-external-link"> </i></span>
                      </a>
                    </dt>
                    <dd>
                      <code>oc start-build {{buildConfig.metadata.name}} -n {{project.metadata.name}}</code>
                      <copy-to-clipboard-button clipboard-text="'oc start-build ' + buildConfig.metadata.name + ' -n ' + project.metadata.name"></copy-to-clipboard-button>
                    </dd>
                  </dl>
                </div>
              </div>
              <annotations annotations="buildConfig.metadata.annotations"></annotations>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div><!-- /buildConfig .tile -->
    <div ng-if="loaded">
      <table class="table table-bordered table-hover table-mobile">
        <thead>
          <tr>
            <th>Build</th>
            <th>Status</th>
            <th>Started</th>
          </tr>
        </thead>
        <tbody ng-if="(builds | hashSize) == 0">
          <tr><td colspan="4" data-title="Build"><em>{{emptyMessage}}</em></td></tr>
        </tbody>
        <tbody ng-repeat="build in orderedBuilds">
          <tr>
            <td data-title="Build">
              <!-- Build number and link -->
              <span ng-if="build | annotation : 'buildNumber'">
                <a ng-href="{{build | navigateResourceURL}}">#{{build | annotation : 'buildNumber'}}</a>
              </span>
              <span ng-if="!(build | annotation : 'buildNumber')">
                <a ng-href="{{build | navigateResourceURL}}">{{build.metadata.name}}</a>
              </span>
              <span ng-if="build.status.message" class="pficon pficon-warning-triangle-o" style="cursor: help;" data-toggle="popover" data-placement="right" data-trigger="hover" dynamic-content="{{build.status.message}}"></span>
            </td>
            <td data-title="Status">
              <div row class="status">
                <status-icon status="build.status.phase" disable-animation></status-icon>
                <span flex>
                  <span>{{build.status.phase}}</span>
                  <!-- Build duration -->
                  <span ng-switch="build.status.phase" class="hide-ng-leave">
                    <span ng-switch-when="Complete"> in {{(build.status.startTimestamp || build.metadata.creationTimestamp) | duration : build.status.completionTimestamp}}</span>
                    <span ng-switch-when="Failed">after {{build.status.startTimestamp | duration : build.status.completionTimestamp}}</span>
                    <span ng-switch-when="Cancelled"> after {{(build.status.startTimestamp || build.metadata.creationTimestamp) | duration : build.status.completionTimestamp}}</span>
                    <span ng-switch-when="Running"> for <duration-until-now timestamp="build.status.startTimestamp"></duration-until-now></span>
                    <span ng-switch-when="New">, waiting for <duration-until-now timestamp="build.metadata.creationTimestamp"></duration-until-now></span>
                    <span ng-switch-when="Pending">, waiting for <duration-until-now timestamp="build.metadata.creationTimestamp"></duration-until-now></span>
                    <span ng-switch-default>
                      <span ng-if="build.status.startTimestamp"> in {{build.status.startTimestamp | duration : build.status.completionTimestamp}}</span>
                      <span ng-if="!build.status.startTimestamp"> waited for {{build.metadata.creationTimestamp | duration : build.status.completionTimestamp}}</span>
                    </span>
                  </span>
                </span>
              </div>
            </td>
            <td data-title="Started">
              <relative-timestamp timestamp="build.status.startTimestamp || build.metadata.creationTimestamp"></relative-timestamp>
              <span>- {{(build.status.startTimestamp || build.metadata.creationTimestamp) | date : 'short'}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </project-page>
</div>
