<div ng-controller="BuildController" class="content">
  <project-page>
    <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
    <alerts alerts="alerts"></alerts>
    <div ng-if="!loaded">Loading...</div>
    <div ng-if="build">
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h1>
              {{build.metadata.name}}
              <span ng-if="build.status.message" class="pficon pficon-warning-triangle-o" style="cursor: help;" data-toggle="popover" data-placement="right" data-trigger="hover" dynamic-content="{{build.status.message}}"></span>
              <small class="meta">created <relative-timestamp timestamp="build.metadata.creationTimestamp"></relative-timestamp></small>
            </h1>
            <labels ng-if="buildConfigName" labels="build.metadata.labels" clickable="true" kind="builds" title-kind="builds for build config {{buildConfigName}}" project-name="{{build.metadata.namespace}}" limit="3" navigate-url="project/{{build.metadata.namespace}}/browse/builds/{{buildConfigName}}"></labels>
            <labels ng-if="!buildConfigName" labels="build.metadata.labels" limit="3"></labels>

            <tabset>
              <tab active="selectedTab.details">
                <tab-heading>Details</tab-heading>
                <ng-include src=" 'views/browse/_build-details.html' "></ng-include>
              </tab>

              <tab active="selectedTab.logs" select="initLogs()">
                <tab-heading>Logs</tab-heading>
                <log-viewer
                  logs="logs"
                  loading="logsLoading"
                  start="build.status.startTimestamp | date : 'short'"
                  end="build.status.completionTimestamp | date : 'short'"
                  links="true"
                  name="build.metadata.name"
                  download="canShowDownload">
                  <div row>
                    <span>Status:&nbsp;&nbsp;</span>
                    <status-icon status="build.status.phase"></status-icon>
                    <span flex>&nbsp;&nbsp;{{build.status.phase}}</span>
                  </div>
                </log-viewer>
                <!-- TODO: this should probably get moved up into the directive -->
                <div ng-if="!logsLoading" class="text-muted">
                  Log complete
                </div>
                <div ng-if="logError" class="text-muted">
                  Log error
                  <a href="" ng-click="runLogs()">reconnect?</a>
                </div>
              </tab>
            </tabset>


          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /build .well -->
  </project-page>
</div>
