<div class="content">
  <project-page>
    <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
    <alerts alerts="alerts"></alerts>
    <div ng-if="!loaded">Loading...</div>
    <div ng-if="deployment">
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h1>
              {{deployment.metadata.name}}
              <span
                ng-if="deploymentConfigMissing"
                class="pficon pficon-warning-triangle-o"
                style="cursor: help; vertical-align: middle;"
                data-toggle="tooltip"
                data-placement="right"
                data-trigger="hover"
                title="The deployment's deployment config is missing."
                aria-hidden="true">
              </span>
              <span ng-if="deploymentConfigMissing" class="sr-only">Warning: The deployment's deployment config is missing.</span>
              <small class="meta">created <relative-timestamp timestamp="deployment.metadata.creationTimestamp"></relative-timestamp></small>
              <div class="pull-right dropdown">
                <a href="" class="dropdown-toggle resource-actions-dropdown" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i><span class="sr-only">Actions</span></a>
                <ul class="dropdown-menu actions action-button">
                  <li>
                    <edit-link
                      resource="deployment"
                      kind="replicationcontrollers"
                      alerts="alerts">
                    </edit-link>
                  </li>
                  <li ng-class="{disabled: deployment.status.replicas}">
                    <delete-link
                      resource-type="replicationcontroller"
                      type-display-name="Deployment"
                      resource-name="{{deployment.metadata.name}}"
                      project-name="{{deployment.metadata.namespace}}"
                      alerts="alerts"
                      disable-delete="!!deployment.status.replicas">
                    </delete-link>
                  </li>
                </ul>
              </div>
            </h1>
            <labels ng-if="deploymentConfigName" labels="deployment.metadata.labels" clickable="true" kind="deployments" title-kind="deployments for deployment config {{deploymentConfigName}}" project-name="{{deployment.metadata.namespace}}" limit="3" navigate-url="project/{{deployment.metadata.namespace}}/browse/deployments/{{deploymentConfigName}}"></labels>
            <labels ng-if="!deploymentConfigName" labels="deployment.metadata.labels" clickable="true" kind="deployments" project-name="{{deployment.metadata.namespace}}" limit="3"></labels>
            <uib-tabset>
              <uib-tab active="selectedTab.details">
                <uib-tab-heading>Details</uib-tab-heading>
                <div class="resource-details">
                  <ng-include src=" 'views/browse/_deployment-details.html' "></ng-include>
                </div>
              </uib-tab>
              <uib-tab ng-if="deploymentConfigName && logOptions.version" active="selectedTab.logs">
                <uib-tab-heading>Logs</uib-tab-heading>
                <log-viewer
                  ng-if="selectedTab.logs"
                  kind="deploymentconfigs/log"
                  name="deploymentConfigName"
                  context="logContext"
                  options="logOptions"
                  status="deployment | deploymentStatus"
                  start="deployment.metadata.creationTimestamp | date : 'short'">
                </log-viewer>
              </uib-tab>
            </uib-tabset>
          </div> <!-- /tile -->
        </div><!-- .col -->
      </div>
    </div>
  </project-page>
</div>
