<div ng-controller="DeploymentController" class="content">
  <project-page>
    <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
    <alerts alerts="alerts"></alerts>
    <div ng-if="!loaded">Loading...</div>
    <div ng-if="deployment" class="deployment">
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h1>
              {{deployment.metadata.name}}
              <small class="meta">created <relative-timestamp timestamp="deployment.metadata.creationTimestamp"></relative-timestamp></small>
            </h1>
            <labels ng-if="deploymentConfigName" labels="deployment.metadata.labels" clickable="true" kind="deployments" title-kind="deployments for deployment config {{deploymentConfigName}}" project-name="{{deployment.metadata.namespace}}" limit="3" navigate-url="project/{{deployment.metadata.namespace}}/browse/deployments/{{deploymentConfigName}}"></labels>
            <labels ng-if="!deploymentConfigName" labels="deployment.metadata.labels" clickable="true" kind="deployments" project-name="{{deployment.metadata.namespace}}" limit="3"></labels> 
            <div class="resource-details">
              <dl class="dl-horizontal left">
                <dt>Status:</dt>
                <dd>
                  <span ng-switch="deployment | deploymentStatus" class="hide-ng-leave">
                    <span ng-switch-when="Cancelled" class="fa fa-ban text-warning" aria-hidden="true"></span>              
                    <span ng-switch-when="Deployed" class="fa fa-check text-success" aria-hidden="true"></span>
                    <span ng-switch-when="Complete" class="fa fa-check text-success" aria-hidden="true"></span>
                    <span ng-switch-when="Failed" class="fa fa-times text-danger" aria-hidden="true"></span>
                    <span ng-switch-when="New" class="spinner spinner-xs spinner-inline" aria-hidden="true"></span>
                    <span ng-switch-when="Pending" class="spinner spinner-xs spinner-inline" aria-hidden="true"></span>
                    <span ng-switch-default class="fa fa-refresh fa-spin" aria-hidden="true"></span>
                  </span>
                  {{deployment | deploymentStatus}} 
                  <span style="margin-left: 7px;">
                    <button ng-show="!rollBackCollapsed && (deployment | deploymentStatus) == 'Complete' && !(deployment | deploymentIsLatest : deploymentConfig) && !deployment.metadata.deletionTimestamp" ng-disabled="(deploymentConfigDeploymentsInProgress[deploymentConfigName] | hashSize) > 0" type="button" class="btn btn-default btn-xs" ng-click="rollBackCollapsed = !rollBackCollapsed">Roll Back</button>
                    <div ng-show="rollBackCollapsed" class="well well-sm">
                      Use the following settings from {{deployment.metadata.name}} when rolling back: 
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="changeScaleSettings" ng-disabled="(deploymentConfigDeploymentsInProgress[deploymentConfigName] | hashSize) > 0"> replica count and selector
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="changeStrategy" ng-disabled="(deploymentConfigDeploymentsInProgress[deploymentConfigName] | hashSize) > 0"> deployment strategy
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="changeTriggers" ng-disabled="(deploymentConfigDeploymentsInProgress[deploymentConfigName] | hashSize) > 0"> deployment trigger
                        </label>
                      </div>
                      <button type="button" ng-click="rollbackToDeployment(deployment, changeScaleSettings, changeStrategy, changeTriggers)" ng-disabled="(deploymentConfigDeploymentsInProgress[deploymentConfigName] | hashSize) > 0" class="btn btn-default btn-xs">Roll Back</button>
                    </div>
                    <!-- disabled until we have an api endpoint for retry
                    <button ng-show="(deployment | deploymentStatus) == 'Failed'" type="button" ng-click="retryFailedDeployment(deployment)" ng-disabled="(deploymentConfigDeploymentsInProgress[deploymentConfigName] | hashSize) > 0" class="btn btn-default btn-xs" ng-if="(deployment | deploymentIsLatest : deploymentConfig) && !deployment.metadata.deletionTimestamp">Retry</button>
                    -->
                    <button ng-show="(deployment | deploymentIsInProgress) && !deployment.metadata.deletionTimestamp" type="button" ng-click="cancelRunningDeployment(deployment)" class="btn btn-default btn-xs">Cancel</button>
                  </span>                
                </dd>
                <dt ng-if="deployment | isDeployment">Deployment config:</dt>
                <dd ng-if="deployment | isDeployment">
                  <a href="project/{{deployment.metadata.namespace}}/browse/deployments/{{deploymentConfigName}}">{{deploymentConfigName}}</a>
                </dd>
                <dt ng-if="deployment | annotation:'deploymentStatusReason'">Status reason:</dt>
                <dd ng-if="deployment | annotation:'deploymentStatusReason'">
                  {{deployment | annotation:'deploymentStatusReason'}}
                </dd>
                <dt ng-if="deployment | deploymentIsInProgress">Duration:</dt>
                <dd ng-if="deployment | deploymentIsInProgress">
                  <span ng-switch="deployment | deploymentStatus" class="hide-ng-leave">
                    <span ng-switch-when="Running">running for <duration-until-now timestamp="deployment.metadata.creationTimestamp"></duration-until-now></span>
                    <span ng-switch-default>waiting for <duration-until-now timestamp="deployment.metadata.creationTimestamp"></duration-until-now></span>
                  </span>
                </dd>
                <dt>Selectors:</dt>
                <dd>
                  <span ng-if="!deployment.spec.selector">none</span>
                  <span ng-repeat="(labelKey, labelValue) in deployment.spec.selector">{{labelKey}}={{labelValue}}<span ng-show="!$last">, </span></span>
                </dd>
                <dt>Replicas:</dt>
                <dd>
                  <div ng-show="!replicas.editing">
                    {{deployment.status.replicas}} current / {{deployment.spec.replicas}} desired
                    <a href="" title="Edit" class="action-button" ng-click="replicas.desired = deployment.spec.replicas; replicas.editing = true">
                      <i class="icon icon-pencil" style="margin-left: 5px;"></i>
                      <span class="sr-only">Edit</span>
                    </a>
                  </div>
                  <div ng-show="replicas.editing">
                    <form name="replicas.form" ng-submit="scale()" class="replicas-form">
                      <span ng-class="{'has-error': replicas.form.$invalid}">
                        <input type="number"
                               name="desired"
                               ng-model="replicas.desired"
                               ng-required="true"
                               min="0"
                               ng-pattern="/^\-?\d+$/"
                               focus-when="{{replicas.editing}}"
                               select-on-focus
                               class="form-control input-number">
                      </span>
                      <a href="" title="Scale" class="action-button" ng-click="scale()">
                        <i class="icon icon-ok action-button" style="margin-left: 5px;"></i>
                        <span class="sr-only">Scale</span>
                      </a>
                      <a href="" title="Cancel" class="action-button" ng-click="cancelScale()">
                        <i class="icon icon-remove action-button" style="margin-left: 5px;"></i>
                        <span class="sr-only">Cancel</span>
                      </a>
                      <div ng-if="replicas.form.$invalid" class="has-error">
                        <div ng-if="replicas.form.desired.$error.required" class="help-block">
                          A value for replicas is required.
                        </div>
                        <div ng-if="replicas.form.desired.$error.pattern" class="help-block">
                          Replicas must be a whole number.
                        </div>
                        <div ng-if="replicas.form.desired.$error.min" class="help-block">
                          Replicas can't be negative.
                        </div>
                      </div>
                    </form>
                  </div>
                </dd>
                <annotations annotations="deployment.metadata.annotations"></annotations>
              </dl>
              <div class="deployment-detail">
                <span>Pod template:</span>
                <pod-template
                  pod-template="deployment.spec.template"
                  images-by-docker-reference="imagesByDockerReference"
                  builds="builds"
                  detailed="true"></pod-template>
              </div>
            </div>
          </div> <!-- /tile -->
        </div><!-- .col -->
      </div>
    </div>
  </project-page>
</div>
