<div ng-controller="ImageController" class="content">
  <project-page>
    <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
    <alerts alerts="alerts"></alerts>
    <div class="tile" ng-if="imageStream">
      <h2>
        {{imageStream.metadata.name}}
      </h2>
      <div ng-if="imageStream.spec.dockerImageRepository" class="small">Docker image repository: {{imageStream.spec.dockerImageRepository}}</div>
      <!-- Print out missing status tags with a warning. If the dockerRepositoryCheck annotation
           is present, but status tag is missing, tag could not be resolved. Otherwise, it's simply
           not synced yet. -->
      <div ng-repeat="specTag in missingStatusTagsByImageStream[imageStream.metadata.name] | orderBy : 'name' track by specTag.name"
           style="margin-top: 10px;">
        <div ng-if="imageStream | annotation : 'openshift.io/image.dockerRepositoryCheck'">
          <span class="pficon pficon-warning-triangle-o" style="margin-right: 5px;"
                ng-attr-title="{{imageStream | annotation : 'openshift.io/image.dockerRepositoryCheck'}}"></span>
          {{specTag.name}}
          &mdash;
          <span class="small">Tag could not be resolved.</span>
        </div>
        <div ng-if="!(imageStream | annotation : 'openshift.io/image.dockerRepositoryCheck')">
            {{specTag.name}}
            &mdash;
            <span class="small text-muted">Not yet synced</span>
        </div>
      </div>
      <div ng-repeat="tag in imageStream.status.tags" style="margin-top: 10px; margin-bottom: 10px;">
        <div>
            {{tag.tag}}
            <span ng-if="tag.items.length && tag.items[0].image">&mdash;
              <short-id id="{{tag.items[0].image | imageName}}"></short-id>
              <small class="text-muted">Created <relative-timestamp timestamp="tag.items[0].created"></relative-timestamp></small>
            </span>
          <span ng-if="!tag.items.length"><em>No images for this tag</em></span>
        </div>
        <div class="small">
          <!-- dockerImageReference values can get long. Use max width and class truncate to elide some of the SHA1 for long values.
               They can still be copied even when elided. -->
          <div ng-if="tag.items.length && tag.items[0].dockerImageReference" style="max-width: 400px;" class="truncate"
                 ng-attr-title="{{tag.items[0].dockerImageReference}}">
             Pull spec: {{tag.items[0].dockerImageReference}}
          </div>
          <div ng-init="tagTags = (imageStream | imageStreamTagTags : tag.tag)">
            <span ng-repeat="tagTag in (imageStream | imageStreamTagTags : tag.tag)" class="tag small text-muted">{{tagTag}}</span>
          </div>
        </div>
        <div ng-if="tag.items.length > 1">
          <div click-to-reveal link-text="Older images">
            <div ng-repeat="image in tag.items" ng-if="!$first" class="text-muted small">
              <short-id ng-if="image.image" id="{{image.image | imageName}}"></short-id>
              <span ng-if="!image.image">{{image.dockerImageReference}}</span>
              <span> created </span>
              <relative-timestamp timestamp="image.created"></relative-timestamp>
            </div>
          </div>
        </div>
      </div>
      <annotations annotations="imageStream.metadata.annotations"></annotations>
    </div>
  </project-page>
</div>