<div class="content">
  <project-page>
    <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
    <alerts alerts="alerts"></alerts>
    <div ng-if="!loaded">Loading...</div>
    <div ng-if="pod">
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h1>
              {{pod.metadata.name}}
              <span ng-if="pod | isTroubledPod">
                <pod-warnings pod="pod" style="vertical-align: middle;"></pod-warnings>
              </span>
              <small class="meta">created <relative-timestamp timestamp="pod.metadata.creationTimestamp"></relative-timestamp></small>
            </h1>
            <labels labels="pod.metadata.labels" clickable="true" kind="pods" project-name="{{pod.metadata.namespace}}" limit="3"></labels>
            <tabset>
              <tab heading="Details" active="selectedTab.details">
                <tab-heading>Details</tab-heading>
                <ng-include src=" 'views/browse/_pod-details.html' "></ng-include>
              </tab>

              <tab ng-if="metricsAvailable" heading="Metrics" active="selectedTab.metrics">
                <!-- Use ng-if to remove the pod-metrics directive when the tab is not active so
                     we don't update in the background. -->
                <pod-metrics
                  ng-if="selectedTab.metrics"
                  pod="pod"
                  alerts="alerts">
                </pod-metrics>
              </tab>

              <tab active="selectedTab.logs">
                <tab-heading>Logs</tab-heading>

                <label for="selectLogContainer">Container:</label>

                <span ng-if="pod.spec.containers.length === 1">
                  {{pod.spec.containers[0].name}}
                </span>

                <select
                    id="selectLogContainer"
                    ng-if="pod.spec.containers.length > 1"
                    ng-model="logOptions.container"
                    ng-options="container.name as container.name for container in pod.spec.containers"
                    ng-init="logOptions.container = pod.spec.containers[0].name">
                </select>

                <log-viewer
                    ng-if="selectedTab.logs"
                    kind="pods/log"
                    name="pod.metadata.name"
                    context="logContext"
                    options="logOptions"
                    status="pod.status.phase"
                    start="pod.status.startTime | date : 'short'">
                </log-viewer>
              </tab>

              <tab active="selectedTab.terminal"
                select="terminalTabWasSelected = true"
                ng-init="containers = pod.status.containerStatuses"
                ng-if="containersRunning(pod.status.containerStatuses) > 0">
                <tab-heading>Terminal</tab-heading>
                <div><span class="fa fa-lg fa-info-circle"></span>
                  When you navigate away from this pod, any processes running
                  in these terminals will quit.</div>
                <div class="pod-container-terminal"
                  ng-repeat="container in containers | orderBy:'name' track by container.name"
                  ng-if="container.state.running">
                  <h3 ng-if="containers.length > 1">{{container.name}}</h3>
                  <kubernetes-container-terminal pod="pod" container="container.name"
                    prevent="!terminalTabWasSelected">
                  </kubernetes-container-terminal>
                </div>
	      </tab>

            </tabset>
          </div>
        </div>
      </div><!-- /row -->
    </div>
  </project-page>
</div>
