<div class="content">
  <project-page>
    <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
    <alerts alerts="alerts"></alerts>
    <div ng-if="!loaded">Loading...</div>
    <div ng-if="pod">
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h1>
              Pod {{pod.metadata.name}}
              <span ng-if="pod | isTroubledPod">
                <pod-warnings pod="pod" style="vertical-align: middle;"></pod-warnings>
              </span>
            </h1>
            <labels labels="pod.metadata.labels" clickable="true" kind="pods" project-name="{{pod.metadata.namespace}}" limit="3"></labels>
            <tabset>
              <tab heading="Details" active="selectedTab.details">
                <tab-heading>Details</tab-heading>
                <ng-include src=" 'views/browse/_pod-details.html' "></ng-include>
              </tab>

              <tab ng-if="metricsAvailable" heading="Metrics" active="selectedTab.metrics">
                <!-- Use ng-if to remove the pod-metrics directive when the tab is not active so
                     we don't update in the background. -->
                <pod-metrics
                  ng-if="selectedTab.metrics"
                  pod="pod"
                  alerts="alerts">
                </pod-metrics>
              </tab>


              <tab active="selectedTab.logs">
                <tab-heading>Logs</tab-heading>
                <log-viewer
                  logs="logs"
                  loading="logsLoading"
                  start="pod.status.startTime | date : 'short'"
                  links="true"
                  download="canShowDownload">
                  <div row>
                    <span>Status:&nbsp;&nbsp;</span>
                    <status-icon status="pod.status.phase"></status-icon>
                    <span flex>&nbsp;&nbsp;{{pod.status.phase}}</span>
                  </div>
                </log-viewer>
                <div ng-show="!logsLoading" class="text-muted">
                  connection closed
                  <a ng-click="initLogs()" ng-show="canInitAgain">reconnect</a>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div><!-- /row -->
    </div>
  </project-page>
</div>
