<div class="content">
  <project-page>
    <div>
      <div class="page-header page-header-bleed-right">
        <div class="actions pull-right">
          <a ng-href="project/{{project.metadata.name}}/createRoute" class="btn btn-default">Create Route</a>
        </div>
        <h1>Routes</h1>
      </div>
      <alerts alerts="alerts"></alerts>
      <table class="table table-bordered table-hover table-mobile">
        <thead>
          <tr>
            <th>Name</th>
            <th>Hostname</th>
            <th>Routes To</th>
            <th>Target Port</th>
            <th>TLS Termination</th>
          </tr>
        </thead>
        <tbody ng-if="(routes | hashSize) == 0">
          <tr><td colspan="6"><em>{{emptyMessage}}</em></td></tr>
        </tbody>
        <tbody ng-repeat="route in routes | orderObjectsByDate : true">
          <tr>
            <td data-title="Name"><a href="{{route | navigateResourceURL}}">{{route.metadata.name}}</a></td>
            <td data-title="Hostname">
              <div ng-if="(route | isWebRoute)" class="word-break">
                <a href="{{route | routeWebURL}}" target="_blank">{{route | routeLabel}}</a>
              </div>
              <div ng-if="!(route | isWebRoute)" class="word-break">
                {{route | routeLabel}}
              </div>
            </td>
            <td data-title="Routes To">
              <span ng-if="route.spec.to.kind !== 'Service'">{{route.spec.to.kind}}: {{route.spec.to.name}}</span>
              <span ng-if="route.spec.to.kind === 'Service'"><a ng-href="{{route.spec.to.name | navigateResourceURL : 'Service': route.metadata.namespace}}">{{route.spec.to.name}}</a></span>
            </td>
            <!-- Add non-breaking space to empty cells. Otherwise, table-mobile layout is broken. -->
            <td data-title="Target Port">
              {{route.spec.port.targetPort}}
              <span ng-if="!route.spec.port.targetPort">&nbsp;</span>
            </td>
            <!-- Use shorter Termination title for table-mobile to avoid overlapping text. -->
            <td data-title="Termination">
              {{route.spec.tls.termination}}
              <span ng-if="!route.spec.tls.termination">&nbsp;</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </project-page>
</div>
