[Unit]
Description=OpenShift SDN node
Requires=network.target
After=docker.target network.target

[Service]
ExecStart=/usr/local/bin/openshift-sdn-node.sh
WorkingDirectory=/var/lib/origin
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
