[Unit]
Description=Setup for ovn-kubernetes node network plugin
Requires=openshift-node.service
After=openshift-node.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ovn-kubernetes-node-setup.sh

[Install]
WantedBy=openshift-node.service
