<nav class="navbar navbar-sidebar visible-xs-block">
  <ul class="nav nav-sidenav-primary" hawtio-extension name="nav-mobile-dropdown">
    <li>
      <a href="https://docs.openshift.org/latest/welcome/index.html">
        <span class="fa fa-book fa-fw" aria-hidden="true"></span> Documentation
      </a>
    </li>
    <li>
      <a href="about">
        <span class="pficon pficon-info fa-fw" aria-hidden="true"></span> About
      </a>
    </li>
    <li>
      <a href="logout">
        <span class="pficon pficon-user fa-fw" aria-hidden="true"></span>
        Log out <span class="username">{{user.fullName || user.metadata.name}}</span>
      </a>
    </li>
  </ul>
</nav>
