<nav class="navbar navbar-pf-alt" role="navigation">
  <div class="navbar-header">
    <div row flex class="navbar-flex-btn">
      <button type="button" class="navbar-toggle project-action-btn ng-isolate-scope" data-toggle="collapse" data-target=".navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand" id="openshift-logo" href="./">
      <div id="header-logo"></div>
    </a>
  </div>
  <nav class="collapse navbar-collapse">
    <navbar-utility></navbar-utility>
  </nav>
</nav>
