<nav class="navbar navbar-pf-alt" role="navigation">
  <div row>
    <div class="navbar-header">
      <!-- mobile nav menu -->
      <div row flex class="navbar-flex-btn toggle-menu">
        <button type="button" class="navbar-toggle project-action-btn ng-isolate-scope" data-toggle="collapse" data-target=".navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- JS click handler for #openshift-logo -->
      <a class="navbar-brand" id="openshift-logo" href="./">
        <div id="header-logo"></div>
      </a>
    </div>
    <!-- system status message at mobile -->

    <navbar-utility class="collapse navbar-collapse"></navbar-utility>

    <div row
      extension-point
      extension-name="nav-system-status-mobile"
      extension-types="dom"
      class="navbar-flex-btn"></div>

  </div>
</nav>
