<nav class="navbar navbar-pf-alt" role="navigation">
  <navbar-logo></navbar-logo>
  <nav class="collapse navbar-collapse">
    <div class="nav navbar-nav navbar-project-menu">
      <div flex class="form-group">
        <!-- TODO add multiple attribute back to the select tag when we support selecting multiple -->
        <!-- Use title="" to prevent "Nothing selected" from briefly flashing while the projects are still loading. -->
        <select class="selectpicker form-control" data-selected-text-format="count>3" id="boostrapSelect" title=""></select>
      </div>
    </div> <!-- /navbar-project-menu -->
    <navbar-utility></navbar-utility>
  </nav>
</nav>
