<nav class="navbar navbar-pf-alt" role="navigation">
  <div row flex class="navbar-header hidden-xs">
    <a class="navbar-home" href="./"><span class="fa-fw pficon pficon-home"></span> <span class="visible-xlg-inline-block">Projects</span></a>
  </div>
  <div class="nav navbar-project-menu">
    <div row>
      <!-- mobile nav menu -->
      <div row flex class="navbar-flex-btn">
        <button type="button" class="navbar-toggle project-action-btn ng-isolate-scope" data-toggle="collapse" data-target=".navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div flex class="form-group">
        <!-- TODO add multiple attribute back to the select tag when we support selecting multiple -->
        <!-- Use title="" to prevent "Nothing selected" from briefly flashing while the projects are still loading. -->
        <select class="selectpicker form-control" data-selected-text-format="count>3" id="boostrapSelect" title=""></select>
      </div>
      <!-- Filter and create buttons show at mobile -->
      <div row flex class="navbar-flex-btn">
        <a class="project-action-btn" href="project/{{project.metadata.name}}/create" ng-disabled="project.status.phase != 'Active'" title="Add to project">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
  </div> <!-- /navbar-project-menu -->
  <navbar-utility class="hidden-xs"></navbar-utility>
</nav>
