[Unit]
Description=Atomic Registry Master
Documentation=https://github.com/openshift/origin
After=docker.service
Requires=docker.service
Wants=atomic-registry-console.service
Wants=atomic-registry.service

[Service]
EnvironmentFile=/etc/sysconfig/atomic-registry-master
Environment=GOTRACEBACK=crash
ExecStartPre=-/usr/bin/docker rm -f atomic-registry-master
ExecStart=/usr/bin/docker run --rm --privileged --name atomic-registry-master -p ${MASTERPORT}:${MASTERPORT} --env-file=/etc/sysconfig/atomic-registry-master -v /var/lib/atomic-registry/etcd:/var/lib/atomic-registry/etcd -v /etc/atomic-registry/:/etc/atomic-registry/ -v /etc/pki/ca-trust:/etc/pki/ca-trust:ro ${MASTERIMAGE}:${MASTERTAG} start master --config=/etc/atomic-registry/master/master-config.yaml $OPTIONS
ExecStop=/usr/bin/docker stop atomic-registry-master
LimitNOFILE=131072
LimitCORE=infinity
WorkingDirectory=/var/lib/atomic-registry/
SyslogIdentifier=atomic-registry-master
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
Also=atomic-registry.service
Also=atomic-registry-console.service
