[Unit]
Description=Atomic Registry
Documentation=https://github.com/docker/distribution
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/atomic-registry
ExecStartPre=-/usr/bin/docker rm -f atomic-registry
ExecStart=/usr/bin/docker run --rm --env-file=/etc/sysconfig/atomic-registry --name atomic-registry -p ${REGISTRYPORT}:${REGISTRYPORT} --net=host -v /var/lib/atomic-registry/registry:/registry:Z -v /etc/atomic-registry/registry:/etc/atomic-registry/registry -v /etc/atomic-registry/serviceaccount:/var/run/secrets/kubernetes.io/serviceaccount -v /etc/pki/ca-trust:/etc/pki/ca-trust:ro -u 1001 ${REGISTRYIMAGE}:${REGISTRYTAG}
ExecStop=/usr/bin/docker stop atomic-registry
LimitNOFILE=131072
LimitCORE=infinity
SyslogIdentifier=atomic-registry
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
