<div class="pod-text" ng-switch="pod.status.phase">
  <strong class="pod-status-label">{{pod.status.phase}}</strong>
  <span ng-if="troubled">
    <pod-warnings pod="pod" style="margin-right: -15px;"></pod-warnings>
  </span>   
  <div ng-switch-when="Pending">
    <span ng-if="!pod.spec.nodeName">scheduling...</span>
    <span ng-if="pod.spec.nodeName && !pod.status.startTime">scheduled</span>
    <span ng-if="pod.spec.nodeName && pod.status.startTime">pulling...</span>
  </div>
  <div ng-switch-default>
    &nbsp;
    <span ng-if="pod.status.podIP">{{pod.status.podIP}}</span>
    <relative-timestamp ng-if="!pod.status.podIP" timestamp="pod.status.startTime"></relative-timestamp>
    &nbsp;
  </div>
</div>