<!-- Make sure there is no whitespace before comma -->
<span ng-if="probe.httpGet">
  GET {{probe.httpGet.path || '/'}} on port {{probe.httpGet.port || 'unknown'}}
</span>
<span ng-if="probe.exec.command">
  <code>
    <span ng-repeat="arg in probe.exec.command">
      <truncate-long-text
          content="arg"
          limit="80"
          newline-limit="1"
          expandable="false"
          use-word-boundary="false">
      </truncate-long-text>
    </span>
  </code>
</span>
<span ng-if="probe.tcpSocket">
  Open socket on port {{probe.tcpSocket.port}}
</span>

<small class="text-muted">
  <span ng-if="probe.initialDelaySeconds">{{probe.initialDelaySeconds}}s delay, </span>
  {{probe.timeoutSeconds || 1}}s timeout
</small>
