<span ng-switch="status" class="hide-ng-leave status-icon">
  <span ng-switch-when="Cancelled" class="fa fa-ban text-muted" aria-hidden="true"></span>
  <span ng-switch-when="Complete" class="fa fa-check text-success" aria-hidden="true"></span>
  <span ng-switch-when="Completed" class="fa fa-check text-success" aria-hidden="true"></span>
  <span ng-switch-when="Deployed" class="fa fa-check text-success" aria-hidden="true"></span>
  <span ng-switch-when="Error" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="Failed" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="New" class="spinner spinner-xs spinner-inline" aria-hidden="true"></span>
  <span ng-switch-when="Pending" class="spinner spinner-xs spinner-inline" aria-hidden="true"></span>
  <span ng-switch-when="Running" class="fa fa-refresh" ng-class="{'fa-spin' : spinning }" aria-hidden="true"></span>
  <span ng-switch-when="Succeeded" class="fa fa-check text-success" aria-hidden="true"></span>
  <span ng-switch-when="Bound" class="fa fa-check text-success" aria-hidden="true"></span>
  <span ng-switch-when="Terminating" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="Terminated" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="Unknown" class="fa fa-question text-danger" aria-hidden="true"></span>

  <!-- Container Runtime States -->
  <span ng-switch-when="ContainerCreating" class="spinner spinner-xs spinner-inline" aria-hidden="true"></span>
  <span ng-switch-when="CrashLoopBackOff" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="ImagePullBackOff" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="ImageInspectError" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="ErrImagePull" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="ErrImageNeverPull" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="no matching container" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="RegistryUnavailable" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="RunContainerError" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="KillContainerError" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="VerifyNonRootError" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="SetupNetworkError" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="TeardownNetworkError" class="fa fa-times text-danger" aria-hidden="true"></span>
  <span ng-switch-when="DeadlineExceeded" class="fa fa-times text-danger" aria-hidden="true"></span>
</span>
