<div row wrap ng-if="(labels | hashSize) > 0">
  <span row nowrap ng-repeat="(labelKey, labelValue) in labels" class="k8s-label" ng-if="!limit || $index < limit">
    <span row class="label-pair" ng-if="clickable">
      <a href="" class="label-key label truncate" ng-click="filterAndNavigate(labelKey)" ng-attr-title="All {{titleKind || kind}} with the label '{{labelKey}}' (any value)">{{labelKey}}</a><a href="" class="label-value label truncate" ng-click="filterAndNavigate(labelKey, labelValue)" ng-attr-title="All {{titleKind || kind}} with the label '{{labelKey}}={{labelValue}}'">{{labelValue}}<span ng-if="labelValue === ''"><em>&lt;empty&gt;</em></span></a>
    </span>
    <span row class="label-pair" ng-if="!clickable">
      <span class="label-key label truncate">{{labelKey}}</span><span class="label-value label truncate">{{labelValue}}</span>
    </span>
  </span>
  <a href="" class="small" ng-click="limit = null" ng-show="limit && limit < (labels | hashSize)" style="padding-left: 5px; vertical-align: middle;">More labels...</a>
</div>