<ng-form name="routeForm">
  <div class="row">
    <div class="col-sm-offset-1 col-md-offset-1 col-md-11 col-sm-11">

      <div class="form-group">
        <label class="radio-inline">
          <input type="radio" value="http,https" ng-model="route.protocol"> Both
        </label>
        <label class="radio-inline">
          <input type="radio" value="http" ng-model="route.protocol"> http://
        </label>
        <label class="radio-inline">
          <input type="radio" value="https" ng-model="route.protocol"> https:// 
        </label> 
      </div>
      <input class="uri-input form-control" type="text" name="routeUri"
           ng-model="route.uri" 
           ng-pattern="/^[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)$/"
           ng-model-options="{ debounce: 500 }"
           ng-disabled="uriDisabled"
           >
      <div class="has-error" ng-show="routeForm.routeUri.$error.pattern && !uriDisabled">
        <span class="help-block">Please enter a valid uri for this route.</span>
      </div>
    </div>
  </div><!-- /row -->
  <div class="row">
    <div class="col-sm-offset-1 col-md-offset-1 col-md-11 col-sm-11">
      <div class="checkbox">
        <label>
          <input type="checkbox" 
                 ng-model="route.customCerts" 
                 > 
          Provide my own certificates and private keys
        </label>
      </div>
    </div>
  </div><!-- /row -->
  <div ng-class="fade" ng-show="route.customCerts">
    <div class="row">
      <div class="col-sm-offset-1 col-md-offset-1 col-md-2 col-sm-2">
          <label>Certificate</label>
      </div>
      <div class="col-md-9 col-sm-9">
        <osc-file-input
            name="certificate"
            model="route.certificate"
            required="route.customCerts"
            >
        </osc-file-input>
      </div>
    </div><!-- /row -->
    <div class="row">
      <div class="col-sm-offset-1 col-md-offset-1 col-md-2 col-sm-2">
          <label>Private Key</label>
      </div>
      <div class="col-md-9 col-sm-9">
        <osc-file-input
            name="privatekey"
            model="route.key" 
            required="route.customCerts"
            >
        </osc-file-input>
      </div>
    </div><!-- /row -->
    <div class="row">
      <div class="col-sm-offset-1 col-md-offset-1 col-md-2 col-sm-2">
          <label>CA Certificate</label>
      </div>
      <div class="col-md-9 col-sm-9">
        <osc-file-input
            name="cacert"
            model="route.caCertificate" 
            required="route.customCerts"
            >
        </osc-file-input>
        <div class="has-error" ng-show="route.customCerts && (routeForm.certificate.$invalid ||routeForm.privatekey.$invalid ||routeForm.cacert.$invalid)">
            <span class="help-block">A certificate, private key and CA certificate are required when providing your own certs.</span>
        </div>
      </div>
    </div><!-- /row -->
  </div>
</ng-form>
