<div class="form-group">
  <div class="input-group">
    <span class="input-group-btn">
        <span class="btn btn-default btn-file" ng-show="supportsFileUpload">
            Browse&hellip; <input type="file"
                                  class="form-control" 
                            >
        </span>
    </span>
    <input type="text" class="form-control" 
           ng-model="fileName" 
           readonly 
           ng-show="supportsFileUpload">
  </div>
  <textarea class="form-control"
            name="{{name}}"
            rows="8"
            ng-hide="supportsFileUpload"
            ng-model="model"
            ng-required="required"
  >
  </textarea>
  <div class="has-error" ng-show="uploadError">
    <span class="help-block">There was an error reading the file.  Please copy the file content into the text area.</span>
  </div>
</div>
