<h1>{{ name || resource.metadata.name }}</h1>
<div class="metadata">
  <div ng-show="resource | annotation:'version'"><translate>Version</translate> {{ resource | annotation:'version' }}</div>
  <div ng-show="resource | annotation:'provider'"><translate>Provider:</translate> {{ resource | annotation:'provider' }}</div>
  <div ng-show="resource.metadata.namespace"><translate>Namespace:</translate> {{ resource.metadata.namespace }}</div>
</div>
<div class="description gutter-bottom">
  <truncate-long-text content="resource | description" limit="256" use-word-boundary="true"></truncate-long-text>
</div>
