<div ng-controller="KeyValuesController" class="labels">
    <div class="form-inline labels-edit" ng-show="editable">
      <form class="edit-label" name="form" novalidate>
        <div class='form-group' ng-class="{'has-error': form.key.$error.oscKeyValid}">
          <input class="form-control"
                 type="text"
                 name="key"
                 placeholder="{{keyTitle}}"
                 ng-model="key"
                 ng-keyup="toggleAdd()"
                 osc-input-validator="key">
        </div>
        <div class="form-group" ng-class="{'has-error': form.value.$error.oscValueValid}">
          <input class="form-control"
                 type="text"
                 name="value"
                 placeholder="Value"
                 ng-model="value"
                 ng-keyup="toggleAdd()"
                 osc-input-validator="value">
        </div>
        <button
          class="btn btn-default"
          ng-click="addEntry()"
          ng-disabled="(!canAdd) || form.key.$error.oscKeyValid || form.value.$error.oscValueValid">Add</button>
        <div class="has-error" ng-show="form.key.$error.oscKeyValid">
          <span class="help-block">Please enter a valid key
            <span class="help action-inline" ng-if="keyValidationTooltip">
              <a  data-toggle="tooltip" data-placement="bottom"
                data-original-title="{{keyValidationTooltip}}">
                <i class="pficon pficon-help"></i>
              </a>
            </span>
          </span>
        </div>
        <div class="has-error" ng-show="form.value.$error.oscValueValid">
          <span class="help-block">Please enter a valid value
            <span class="help action-inline" ng-if="keyValidationTooltip">
              <a  data-toggle="tooltip" data-placement="bottom"
                data-original-title="{{valueValidationTooltip}}">
                <i class="pficon pficon-help"></i>
              </a>
            </span>
          </span>
        </div>
      </form>
      <ul class="list-unstyled label-list">
        <li ng-repeat="(key,value) in entries | valuesIn:readonlyKeys">
          <span class="key truncate" ng-attr-title="{{key}}">{{key}}</span>
          <span class="value truncate" ng-attr-title="{{value}}">{{value}}</span>
        </li>
        <li ng-repeat="(key,value) in entries | valuesNotIn:readonlyKeys">
          <span ng-controller="KeyValuesEntryController">
            <span class="key truncate" ng-attr-title="{{key}}">{{key}}</span>
            <span ng-hide="editing">
              <span class="value truncate" ng-attr-title="{{value}}">{{value}}</span>
              <a href="" ng-click="edit()" class="btn btn-default btn-xs" title="Edit">
                <i class="icon icon-pencil"></i>
              </a>
              <a href="" ng-click="deleteEntry(key)" class="btn btn-default btn-xs" title="Delete" ng-if="allowDelete(key)">
                <i class="fa fa-times"></i>
              </a>
            </span>
            <span ng-show="editing" class="form-inline">
              <div class="form-group">
                  <input class="form-control" type="text" value="{{value}}" ng-model="value">
                  <a href="" ng-click="update(key, value, $parent.entries)" class="btn btn-default" style="vertical-align: middle" title="Submit">
                    <i class="icon icon-ok"></i>
                  </a>
                  <a href="" ng-click="cancel()" class="btn btn-default" style="vertical-align: middle" title="Cancel">
                    <i class="icon icon-remove"></i>
                  </a>
              </div>
            </span>
          </span>
        </li>
      </ul>
    </div>
    <div ng-hide="editable">
      <div ng-if="(entries | hashSize) === 0"><strong>None</strong></div>
      <ul ng-if="(entries | hashSize) !== 0" class="labels-readonly label-list list-unstyled">
        <li ng-repeat="(key,value) in entries">
          <span class="key truncate" ng-attr-title="{{key}}">{{key}}</span>
          <span class="value truncate" ng-attr-title="{{value}}">{{value}}</span>
        </li>
      </ul>
    </div>
</div>
