<div class="input-group">
  <input
      type="text"
      class="form-control"
      ng-model="fileName"
      readonly
      ng-show="supportsFileUpload"
      ng-disabled="disabled"
      ng-attr-aria-describedby="{{helpText ? helpID : undefined}}">
  <span class="input-group-btn">
    <span class="btn btn-default btn-file" ng-show="supportsFileUpload" ng-attr-disabled="{{ disabled || undefined }}">
      Browse&hellip;
      <input type="file" ng-disabled="disabled" class="form-control">
    </span>
  </span>
</div>
<textarea class="form-control"
    rows="8"
    ng-hide="supportsFileUpload"
    ng-model="model"
    ng-required="required"
    ng-disabled="disabled"
    ng-attr-aria-describedby="{{helpText ? helpID : undefined}}">
</textarea>
<div ng-if="helpText">
  <span ng-attr-id="{{helpID}}" class="help-block">{{::helpText}}</span>
</div>
<div class="has-error" ng-show="uploadError">
  <span class="help-block">There was an error reading the file. Please copy the file content into the text area.</span>
</div>
