<div style="border-top: 3px solid #00a8e1;">
  <div style="background: #f6f6f6; padding-left: 15px;">
    <div>
      <h2 style="display: inline-block; margin-top: 15px; margin-bottom: 15px;"><i ng-if="iconClass" class="{{iconClass}}" style="margin-right: 10px;"></i>{{header}}</h2>
      <span class="pull-right" style="margin-right: 10px; margin-top: 12px;">
        <!-- any actions go here -->
        <a class="btn btn-default btn-sm" href="" ng-click="close()"><span class="fa fa-times" style="width: 10px;"></span></a>
      </span>
    </div>
  </div>
  <!-- the border styles probably need to stand out more around the whole box, the design was for data tables that don't have outer borders on the row -->
  <div style="padding-left: 15px; border-top: 1px solid #d1d1d1; padding-top: 15px; padding-right: 15px;">
    <div ng-transclude>
    </div>
  </div>
</div>
